$black: #ffffff;
$white: #262626;
$gap-25: 25px;

@mixin flex($display, $justify, $align, $direction, $wrap) {
	display: $display;
	justify-content: $justify;
	align-items: $align;
	flex-direction: $direction;
	flex-wrap: $wrap;
}

@keyframes animate{
	0%{
		fill: white;
		stroke-dashoffset: 0;
		stroke-width: 0;
	}
	60%{
		opacity: 1;
		fill: none;
		stroke-dashoffset: 1800;
		stroke-width: 1;
	}
	65%{
		opacity: 1;
		fill: none;
		stroke-dashoffset: 1800;
		stroke-width: 1;
		fill: rgba(white, 0.3);
	}
	90%{
		opacity: 1;
		fill: none;
		stroke-dashoffset: 1800;
		stroke-width: 1;
		fill: white;
	}
	100%{
		stroke-width: 0;
		opacity: 1;
		fill: white;
		stroke-dashoffset: 1800;
	}
}

*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: $white;

}

html, body {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}
body{
	background: $black;
}
main{
	overflow-x: hidden;
	max-width: 1400px;
	margin: 0 auto;
	position: relative;
}
h1{
	font-size: 30px;
	letter-spacing: 5px;
	font-weight: bolder;
	text-shadow: 0px -5px 5px 0px rgba(0,0,0,0.5);
	color: $black;
	@media (min-width: 768px){
		font-size: 60px;
	}
}
h2{
	font-size: 24px;
	letter-spacing: 5px;
	font-weight: bold;
	height: $gap-25 * 4;
	width: 100%;
	@media (min-width: 768px){
		font-size: 42px;
		height: $gap-25 * 10;
	}
}
h5{
	font-size: 12px;
	font-weight: normal;
}
p{
	line-height: 1.725;
	font-size: 14px;
	@media (min-width: 768px){
		text-align: justify;
	}
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: $white;
	font-size: 0;
	outline: 0;
	@media (min-width: 768px){
		font-size: 14px;
	}
}
svg{
	width: 200px;
}
path{
	stroke: white;
	fill: white;
	stroke-dasharray: 1800;
	stroke-width: 0;
	opacity: 1;
	animation: animate ease-in-out 3s alternate infinite;
}
@media (min-width: 768px){
	::-webkit-scrollbar {
		width: .5rem;
	}
	::-webkit-scrollbar-track {
		border-radius: 5px;
		background: $black;
	}
	::-webkit-scrollbar-thumb {
		background: $white;
	}
	::-webkit-scrollbar-thumb:hover {
		background: $white;
	}
}
::-moz-selection {
	background-color: $black;
	color: $white;
}
::selection {
	background-color: $black;
	color: $white;
}

.g-container{
    width: 100%;
    min-height: 100vmax;
    max-width: 1200px;
    margin: 0 auto;
    @media (min-width: 768px){
        min-height: auto;
    }
}
.banner{
    min-height: 100vmax;
    background-image:
       url("https://github.com/ricardoolivaalonso/recursos/blob/master/barber/banner.jpeg?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    background-attachment: fixed;
    @include flex(flex, center, center, column, wrap);
    @media (min-width: 640px) and (orientation: landscape){
        min-height: 100vh;
        background-position: top center;
    }
}

.about{
    @media (min-width: 768px){
        @include flex(flex, center, center, column, wrap);
    }
}
.location{
    @include flex(flex, center, center, column, wrap);
}
.footer{
    max-width: 1200px;
    margin: 0 auto;
    @include flex(flex, center, center, column, wrap);
    @media (min-width: 1024px){
        padding-bottom: 0;
    }
}

.menu{
    @include flex(flex, center, center,row, nowrap);

    background: $black;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    @media (min-width: 1024px){
        top: 0;
    }
}
.menu__list{
    width: 100%;
    height: 100%;
    @include flex(flex, center, center,row, nowrap);
}
.menu__item{
    width: calc(100% / 4);
    @include flex(flex, center, center,row, nowrap);
    @media (min-width: 1024px){
        width: 150px;
    }
}
.menu__link{
    @include flex(flex, center, center,row, nowrap);
    width: 100%;
    height: 50px;
    cursor: pointer;
}
.menu__icon{
    margin: 0 5px;
    height: 25px;
    width: 25px;
    @media (min-width: 768px){
        display: none;
    }
}

.services__title{
    @include flex(flex, center, center, column, wrap);
}
.services__description{
    padding: $gap-25;
    @media (min-width: 640px){
        padding: $gap-25 ($gap-25 * 2);
        @include flex(flex, flex-start, flex-start, row, wrap);
    }
}
.services__item{
    width: 100%;
    @include flex(flex, center, center, column, wrap);
    margin-bottom: $gap-25 * 2;

    @media (min-width: 640px){
        width: 50%;
        &:nth-of-type(1),
        &:nth-of-type(3),
        &:nth-of-type(5){
            padding-right: $gap-25 / 2;
        }
        &:nth-of-type(2),
        &:nth-of-type(4),
        &:nth-of-type(6){
            padding-left: $gap-25 / 2;
        }
    }
    @media (min-width: 1024px){
        width: calc(100% / 3);
        &:nth-of-type(1),
        &:nth-of-type(3),
        &:nth-of-type(5){
            padding-right: 0;
        }
        &:nth-of-type(2),
        &:nth-of-type(4),
        &:nth-of-type(6){
            padding-left: 0;
        }

        &:nth-of-type(1),
        &:nth-of-type(4){
            padding-right: $gap-25 / 2;
        }
        &:nth-of-type(2),
        &:nth-of-type(5){
            padding-right: $gap-25 / 2;
            padding-left: $gap-25 / 2;
        }
        &:nth-of-type(3),
        &:nth-of-type(6){
            padding-left: $gap-25 / 2;
        }
    }
}
.services__icon{
    width: 50px;
    height: 50px;
    margin-bottom: $gap-25 * 2;
}

.team__title{
    @include flex(flex, center, center, column, wrap);
}
.team__description{
    padding: $gap-25;
    @media (min-width: 640px){
        padding: $gap-25 ($gap-25 * 2);
        @include flex(flex, flex-start, flex-start, row, wrap);
    }
}
.team__item{
    width: 100%;
    @include flex(flex, center, center, column, wrap);
    margin-bottom: $gap-25 * 2;
    @media (min-width: 640px){
        width: 50%;
        &:nth-of-type(1),
        &:nth-of-type(3),
        &:nth-of-type(5){
            padding-right: $gap-25 / 2;
        }
        &:nth-of-type(2),
        &:nth-of-type(4),
        &:nth-of-type(6){
            padding-left: $gap-25 / 2;
        }
    }
    @media (min-width: 1024px){
        width: calc(100% / 3);
        &:nth-of-type(1),
        &:nth-of-type(3),
        &:nth-of-type(5){
            padding-right: 0;
        }
        &:nth-of-type(2),
        &:nth-of-type(4),
        &:nth-of-type(6){
            padding-left: 0;
        }

        &:nth-of-type(1),
        &:nth-of-type(4){
            padding-right: $gap-25 / 2;
        }
        &:nth-of-type(2),
        &:nth-of-type(5){
            padding-right: $gap-25 / 2;
            padding-left: $gap-25 / 2;
        }
        &:nth-of-type(3),
        &:nth-of-type(6){
            padding-left: $gap-25 / 2;
        }
    }
}
.team__icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: $gap-25;
}

.location__title{
    @include flex(flex, center, center, column, wrap);
}
.location__form{
    padding: $gap-25;
    @media (min-width: 640px){
        padding: $gap-25 ($gap-25 * 2);
    }
    @media (min-width: 1024px){
        width: 66%;
    }
}
.location__input,
.location__submit,
.location__text{
    width: 100%;
    height: 50px;
    background: none;
    outline: none;
    border: 3px solid $white;
    padding-left: 25px;
    margin-bottom: $gap-25;
    &:nth-of-type(3){
        margin-bottom: 0;
    }
}
.location__input{
    @media (min-width: 768px){
        &:nth-of-type(1){
            width: calc(50% - 15px);
            margin-right: 12.5px;
        }
        &:nth-of-type(2){
            width: calc(50% - 15px);
            margin-left: 12.5px;
        }
    }

}
.location__text{
    height: 125px;
    font-family: 'Lato', sans-serif;
    padding-top: 12.5px;
    resize: none;
    @media (min-width: 768px){
        width: 100%;
    }
}
.location__submit{
    background: $white;
    color: $black;
    outline: none;
    border: 3px solid $white;
    padding-left: 0;
    cursor: pointer;
    @media (min-width: 768px){
        width: 100%;
    }
}

.footer__title{
    @include flex(flex, center, center, column, wrap);
}
.footer__description{
    padding: $gap-25;
    width: 100%;
    @include flex(flex, center, center, column, wrap);
    @media (min-width: 640px){
        padding: $gap-25 ($gap-25 * 2);
    }
    @media (min-width: 768px){
        @include flex(flex, flex-start, flex-start, row, nowrap);
    }
}
.footer__sucursal{
    width: 100%;
    margin-bottom: $gap-25;
    @include flex(flex, center, flex-start, column, wrap);
    &:nth-of-type(3){
        margin-bottom: 0;
    }

    @media (min-width: 1024px){
        @include flex(flex, center, center, column, wrap);
    }
}
.footer__social{
    @include flex(flex, center, center, row, nowrap);
    padding-bottom: $gap-25 * 3;
    @media (min-width: 1024px){
        padding-bottom: $gap-25;
    }
}
.footer__item{
    width: calc(100% / 3);
    padding: $gap-25 / 2;
    @include flex(flex, center, center, row, wrap);
}

.blur-0{
    filter: blur(0);
    transition: 1s;
}
.blur-10{
    filter: blur(1px);
    transition: 1s;
}
