/*
	Template Name 	: Barbershop and Hair Salon HTML Template
	Author 			: Awaiken Theme
	Author Url 		: https://awaikenthemes.com
*/


/* 
CORES:

1- Fundo escuro opÃƒÂ§ÃƒÂ£o 01: #374C8C;
2- Fundo escuro opÃƒÂ§ÃƒÂ£o 02: #731A22;

3- Fundo claro opÃƒÂ§ÃƒÂ£o 01: #D9D9D9

FUNDO CLARO OpÃƒÂ§ÃƒÂ£o 01
Cor texto 01: #F2EAC2
Cor texto 02: #374c8c
Cor texto 03: #731A22





*/

@font-face {
	font-family: 'NoemieScript';
	src: url('../fonts/NoemieScriptRegular.eot');
	src: url('../fonts/NoemieScriptRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NoemieScriptRegular.woff2') format('woff2'),
		url('../fonts/NoemieScriptRegular.woff') format('woff'),
		url('../fonts/NoemieScriptRegular.ttf') format('truetype'),
		url('../fonts/NoemieScriptRegular.svg#NoemieScriptRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
	margin-top:0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

img{
	max-width: 100%;
}

a:hover{
	text-decoration: none;
	outline: 0;
}

a:focus{
	text-decoration: none;
	outline: 0;
}

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #731A22;
}

::selection {
    color: #fff;
    background: #731A22;
}

.preloader{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.browser-screen-loading-content {
    height: auto;
    max-width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


/**/
.hair_light{
  width: 200px;
  height: 250px;
  /* margin:30px auto; */
  /*   border: 1px solid #aaa; */
}

.body{
  width: 69px;
  height: 150px;
  /*background-color: #ccc;*/
  /*border: 1px solid #aaa;*/
  margin: auto;
  position: relative;
  box-shadow: inset 0px 3px 6px hsla(0,0%,0%,0.5);
  background-image:linear-gradient(143deg,#0F3261 0px,#0F3261 10px,
                   	                     #fff 10px,#fff 30px,
                                         #f00 30px,#f00 50px,
                                         #fff 50px,#fff 70px,
                                         #0F3261 70px,#0F3261 90px,
                                         #fff 90px,#fff 110px,
                                         #f00 110px,#f00 130px,
                                         #fff 130px,#fff 150px,
                                         #0F3261 150px,#0F3261 170px,
                                         #fff 170px,#fff 190px);
  background-size: 100% 100px;
  /*background-repeat: no-repeat;*/
  animation: don 1.5s linear infinite;
}        	  


/*å¡‘è† æ®¼*/
.body:before{
  content: '';
  display: block;
  position: absolute;
  width: 78px;
  height: 100%;
  top: 0;
  left: -5px;
  background-color: rgba(255,255,255,0.1);
  /*å¡‘è† æ®¼åå…‰*/
  background-image: linear-gradient(90deg,rgba(255,255,255,0.55) 0%,
                                         rgba(255,255,255,0.4) 1.5%,
                                         rgba(255,255,255,0.3) 1.5%,   	                                  
  	                                     rgba(0,0,0,0.1) 4%,
                                         rgba(5,5,5,0.5) 8%,
                                         rgba(0,0,0,0.3) 20%,
                                         rgba(0,0,0,0.1) 35%,
                                         rgba(0,0,0,0.15) 44%,
                                         transparent 60%,
                                         rgba(255,255,255,0.3) 70%,
                                         rgba(255,255,255,0.6) 80%,
                                         rgba(255,255,255,0.3) 85%,
                                         transparent 90%,
                                         transparent 92%,
                                         rgba(220,220,220,0.6) 98.5%,
                                         rgba(255,255,255,0.7) 98.5%,
                                         rgba(255,255,255,0.8) 100%),
                    linear-gradient(145deg,rgba(0,0,0,0.4) 0px,
                                          transparent 15px);
}

@keyframes don{
  0%{background-position: 0px 0px ;}
  50%{background-position: 0px 100px ;}
  100%{background-position: 0px 200px ;}
}



/*ä¸Šè“‹*/
.head{
  width: 78px;
  height: 60px;
  margin: auto;
  position: relative;
  /*background-color: #ccc;*/
  border-radius: 50% 50% 0 0;
  box-shadow:1px 0px 2px -1px #FFE inset,
             22px 0px 3px -8px hsla(18, 4%, 50%, 0.9) inset,
             25px 0px 1px -8px #999 inset, 
             55px 0px 6px -26px #27241F inset,   
             105px 0px 5px -60px #787679 inset,
             135px 0px 5px -87px #bbb inset,  

             0px 0px 6px -1px #fff inset,     
             -10px 0px 3px -2px #AAA inset, 
             -28px 0px 2px -10px #eee inset,
             -40px 0px 4px -15px #706562 inset,
             -65px 0px 8px -30px #292420 inset, 
             -127px 0px 4px -87px #D0CCCD inset,
             -135px 0px 6px -87px #ccc inset,
             -86px 0px 0px -5px #ACA8A9 inset;
}

/*è“‹å­ä¸‹æ–¹*/
.head:before{
	position: absolute;
	z-index: 2;
	content: '';
	display: block;
	width: 114px;
	height: 18px;
	background-color: #fff;
	bottom: 8px;
	right: -20px;
	border-radius: 11px;
	background-image:linear-gradient(180deg,#fff 0px,rgba(255,255,255,0.3) 3px,transparent 4px),
	                 linear-gradient(0deg,#000 0px,rgba(0,0,0,0.4) 3px,transparent 5px),
	                 linear-gradient(90deg,
		                  #eee 0px,#aaa 8px,#999 12px,#888 15px,
		                  #ddd 30px,#999 35px,#666 40px,#aaa 48px,
		                  #888 60px,#aaa 80px,#eee 90px,#999 95px,
		                  #777 100px,#444 105px,#777 130px,#ddd 138px,
		                  #fff 142px,#999 150px,#555 160px);
	/*box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);*/
}

/*è“‹å­ä¸‹ä¸‹æ–¹*/
.head:after{
	position: absolute;
	z-index: 1;
	content: '';
	display: block;
	width: 90px;
	height: 8px;
	background-color: #fff;
	bottom: 0px;
	right: -6px;
	/*border-radius: 11px;*/
	background-image:
	                 linear-gradient(90deg,
		                  #eee 0px,#aaa 8px,#999 12px,#888 15px,
		                  #ddd 22px,#999 33px,#666 37px,#aaa 45px,
		                  #999 60px,#aaa 65px,#eee 73px,#999 78px,
		                  #777 80px,#444 85px,#eee 115px,#444 130px);
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.4),
				0px 1px 2px 0px rgba(0,0,0,.8) inset;
}








/*ä¸‹è“‹*/
.footer{
  transform: rotateX(180deg);
  width: 78px;
  height: 60px;
  margin: auto;
  position: relative;
  /*background-color: #ccc;*/
  border-radius: 50% 50% 0 0;
  box-shadow:1px 0px 2px -1px #FFE inset,
             22px 0px 3px -8px hsla(18, 4%, 50%, 0.9) inset,
             25px 0px 1px -8px #999 inset, 
             55px 0px 6px -26px #27241F inset,   
             105px 0px 5px -60px #787679 inset,
             135px 0px 5px -87px #bbb inset,  

             0px 0px 6px -1px #fff inset,     
             -10px 0px 3px -2px #AAA inset, 
             -28px 0px 2px -10px #eee inset,
             -40px 0px 4px -15px #706562 inset,
             -65px 0px 8px -30px #292420 inset, 
             -127px 0px 4px -87px #D0CCCD inset,
             -135px 0px 6px -87px #ccc inset,
             -86px 0px 0px -5px #ACA8A9 inset,
             0px 3px 0px 0px #000 inset;
}

/*è“‹å­ä¸‹æ–¹*/
.footer:before{
	position: absolute;
	z-index: 2;
	content: '';
	display: block;
	width: 112px;
	height: 18px;
	background-color: #fff;
	bottom: 8px;
	right: -20px;
	border-radius: 11px;
	background-image:linear-gradient(1deg,#fff 0px,rgba(255,255,255,0.1) 8px,transparent 10px),
	                 linear-gradient(180deg,#000 0px,rgba(0,0,0,0.4) 3px,transparent 5px),
	                 linear-gradient(90deg,
		                  #eee 0px,#aaa 8px,#999 12px,#888 15px,
		                  #ddd 30px,#999 35px,#666 40px,#aaa 48px,
		                  #888 60px,#aaa 80px,#eee 90px,#999 95px,
		                  #777 100px,#444 105px,#777 130px,#ddd 138px,
		                  #fff 142px,#999 150px,#555 160px);
	/*box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);*/
}

/*è“‹å­ä¸‹ä¸‹æ–¹*/
.footer:after{
	position: absolute;
	z-index: 1;
	content: '';
	display: block;
	width: 88px;
	height: 8px;
	background-color: #fff;
	bottom: 0px;
	right: -6px;
	/*border-radius: 11px;*/
	background-image:
	                 linear-gradient(90deg,
		                  #eee 0px,#aaa 8px,#999 12px,#888 15px,
		                  #ddd 22px,#999 33px,#666 37px,#aaa 45px,
		                  #999 60px,#aaa 65px,#eee 73px,#999 78px,
		                  #777 80px,#444 85px,#eee 115px,#444 130px);
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2),
				0px 1px 2px 0px rgba(0,0,0,.8) inset;
}
/************************************/
/*****    Navigation area css   *****/
/************************************/

.navbar{
	margin-bottom: 0;
	top: -72px;
}

.navbar-brand{
	padding: 1px 15px;
}

.navbar-brand img{
	/*filter: brightness(0) invert(1);*/
	transition: all 0.3s;
}

.navbar-brand h1{
	font-size: 30px;
	margin: 0;
	color: #fff;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	text-transform: uppercase;
}

.navbar-brand h1 i{
	position: relative;
	top: 3px;
	color: #ecae1a;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.navbar-default{
	background: #731A22;
	border: none;
	border-bottom: 1px solid transparent;
	padding: 10px 0;
	border-radius: 0;
	z-index: 12;
	-webkit-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.5);
	
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

.navbar-default .navbar-nav>li>a:hover{
	color: #fff;
}

.navbar-default .navbar-nav>li>a:focus{
	color: #fff;
}

.navbar-default .navbar-nav>li>a{
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.04em;
	padding: 17px 15px 13px; 
	position: relative;
}

.active a{
	background: none !important;
	color: #BFA380 !important;
}

.navbar-default .active a:after{
	transform: scale(1) !important;
	-webkit-transform: scale(1) !important;
	-moz-transform: scale(1) !important;
}

.btn-custom{
	display: inline-block;
	background: #d0ae5e;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.12em;
	font-size: 15px;
	padding: 14px 40px;
	font-weight: 500;
	min-width: 200px;
	text-align: center;
	transition: all 0.4s;
	border-radius: 40px;
}

.btn-custom:hover{
	background: #282828;
	color: #fff;
}

.navbar-default .navbar-toggle{
	border-radius: 0;
	border-color: #fff;
	padding: 0;
}

.navbar-default .navbar-toggle .icon-bar{
	background: #fff;
}

.navbar-default .navbar-toggle:hover{
	background: none;
}

.sticky-header{
	top: 0;
}
@media (max-width: 480px) {
	.no-padd {
		padding: 0;
	}
}
.perfil-login i {
    width: 30px;
    height: 30px;
    padding: 5px 4px;
    font-size: 23px;
    display: block;
    background: #ffffff;
    color: #374c8c;
    transition: 0.5s ALL;
    border-radius: 100%;
}
.perfil-login img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid #374c8c;
}
.perfil-login a {
    padding: 13px 15px 13px!important;
}

.perfil-login i:hover {
    background: #BFA380;
    color: #182344;
}

/************************************/
/*****     TABELA     *****/
/************************************/
table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
  }
  .tabela img {
  border: 1px solid #ebebeb;
    border-radius: 100%;
	width: 30px;
  }
  .tabela {
    border-bottom: none;
    width: 100%;
    margin-bottom: 20px;
  }

  .tabela th,
  .tabela td {
    border-right: #ababab solid 0px;
    font-size: 12px;
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: middle!important;
  }

  .tabela td:last-child {
     border-right: 0;
  }

  .tabela thead th {
    font-weight: normal;
    background-color: #374C8C; /* Cor faixa fila */
    color: #f2eac2;
    font-size: 15px;
  }

  .tabela tbody > tr:nth-child(odd) > td,
  .tabela tbody > tr:nth-child(odd) > th {
    background-color: #f8f8f8;
  }
    .tabela tbody > tr:nth-child(even) > td,
  .tabela tbody > tr:nth-child(even) > th {
    background-color: #ffffff;
  }

  span.fila-aguadando {
    width: 30px;
    height: 30px;
    background: #f3f4f6;
    display: block;
    border-radius: 100%;
	border: 2px solid #b0429e;
	line-height: 26px;
    text-align: center;
}
/* Small Sizes */
@media (max-width: 767px) { 
  
  /* Responsive Table */
  .table-responsive {
    display: block;
    position: relative;
    width: 100%;
  }

  .table-responsive thead,
  .table-responsive tbody,
  .table-responsive th,
  .table-responsive td,
  .table-responsive tr {
    display: block;
  }
  .table-responsive td,
  .table-responsive th {
    height: 35px;
  }

  .table-responsive thead {
    float: left;
  }

  .table-responsive tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }

  .table-responsive tbody tr {
    display: inline-block;
  }

  
  .tabela td:last-child {
     border-right: #999999 solid 1px;
  }


}

.circle {
	background-color: #a2ce39;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	position: relative;
	z-index: 997;
  }
  
  .circle:before {
	background-color: #a2ce39;
	content: "";
	display: table;
	border-radius: 50%;
	position: absolute;
	animation: pulse 1100ms ease-in-out infinite;
	/* z-index: -22; */
  }
  @keyframes pulse {
	0% {
	  opacity: 1;
	  width: 30px;
	  height: 30px;
	  left: 0;
	  top: 0;
	}
	90% {
	  opacity: 0.1;
	  left: -7px;
	  top: -7px;
	  width: 45px;
	  height: 45px;
	}
	100% {
	  opacity: 0;
	  width: 30px;
	  height: 30px;
	  left: 0;
	  top: 0;
	}
  }
  
  .circle i {
	  color: #ffffff;
	  position: absolute;
	  z-index: 9999;
	  left: 5px;
	  top: 6px;
	  font-size: 20px;
  }

.btn-reserva {
	color: #f2eac2;
	font-weight: bold;
	font-size: 18px;
	background: #374c8c; /* BotÃƒÂ£o Fila */
	background-image: linear-gradient(45deg, #731A22 50%, transparent 50%);
	background-position: 100%;
	background-size: 400%;
	-webkit-transition: background 300ms ease-in-out;
	transition: background 701ms ease-in-out;
	border: #F2EAC2 solid 3px; /* Borda btn fila */
	border-radius: 0.6em;
	width: 300px;
	margin: 0 auto;
	display: block;
  }
  .btn-reserva:hover {
	background-position: 0;
  }
/************************************/
/*****     Slider area css      *****/
/************************************/

.banner{
	position: relative;
	top: 0px;
	left: 0;
	width: 100%;
	background-size: cover!important;
	padding: 100px 0 100px;
}

.banner:before{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.50);
}

.banner-icon{
	display: block;
	position: absolute;
	left: 50%;
	bottom: -40px;
	margin-left: -40px;
	width: 80px;
	height: 80px;
	background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
	font-size: 44px;
	text-align: center;
	transform: rotate(45deg);
}

.banner-icon i{
	padding-top: 6px;
	padding-right: 16px;
	display: inline-block;
	transform: rotate(-45deg);
}

.header-banner{
	position: relative;
	z-index: 1;
	text-align: center;
}

.header-banner p{
	font-family: 'NoemieScript';
	font-size: 32px;
	color: rgba(255,255,255,0.76);
	padding-top: 30px;
	padding-bottom: 10px;
}

.header-banner h3{
	font-size: 50px;
	color: rgba(255,255,255,0.76);
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.18em;
	line-height: 1.3em;
}

.banner-info-single{
	background: rgba(55, 76, 140, 0.39); /* Fundo faixa fila */
    padding: 0px;
    position: relative;
    z-index: 1;
    margin: 30px 0;
	border-radius: 10px 3px;
}

.banner-info-single .icon-box{
	width: 60px;
	text-align: center;
	font-size: 50px;
	color: #731A22;
	position: absolute;
	left: 10px;
	top: 10px;
}

.banner-info-single h3{
	color: #fff;
	text-transform: uppercase;
	font-size: 20px; 
	margin-bottom: 6px;
	letter-spacing: 0.18em;
}

.banner-info-single p{
	font-size: 15px;
	color: #fff;
	margin-bottom: 0;
}

@media (max-width:480px){
	.banner-info-single{
		padding: 5px;
	}
}

.main-title{
	text-align: center;
	padding-bottom: 20px;
	margin-bottom: 80px;
}

.main-title h2::after{
	background: url("../images/faixa.svg") no-repeat bottom center;
	content: "";
    height: 30%;
    position: absolute;
    width: 30%;
    z-index: 2;
	left: 35%;
    top: 40%;
}

.service .main-title h2::after{
	background: url("../images/faixa-azul.svg") no-repeat bottom center;
}
.main-title h2{
	font-size: 50px;
	text-transform: uppercase;
	color: #0D0000; /* Cor titulo Sobre */
	letter-spacing: 0.18em;
	font-weight: 600;
}



.aboutus .main-title h2 {
    color: #f2eac2;
}
.service .main-title h2 {
    color: #374c8c;
}

.gallery .main-title h2 {
    color: #f2eac2;
}
.testimonial .main-title h2 {
    color: #f2eac2;
}



.aboutus{
	background: #731A22;
	padding: 100px 0;
}

.row.no-pad div > [class*='col-']{
	padding-right: 0;
    padding-left: 0;
}

.about-image{
	
}

.about-image:after{
	content: '';
	display: block;
	clear: both;
}

.about-img-single{
	width: 33.33%;
	float: left;
}

.about-img-single:nth-of-type(1){
	text-align: right;
	padding-top: 50px;
	padding-right: 1px;
}

.about-img-single:nth-of-type(2) img{
	width: 100%;
}

.about-img-single:nth-of-type(3){
	text-align: left;
	padding-top: 50px;
	padding-left: 1px;
}

.about-desc{
	margin-top: 80px;
}

.about-desc p{
	color: #f2eac2;
	text-align: center;
	font-size: 15px;
	font-weight: 300;
	line-height: 1.8em;
}

.service{
	background: #D9D9D9;
	padding: 100px 0;
}

.service-single{
	text-align: center;
}

.service-single .icon-box{
	background: #fff;
	width: 156px;
	height: 156px;
	border-radius:50%;
	padding-top: 24px;
	border: 2px solid #731A22;
	position: relative;
}

.service-single .icon-box-outer{
	/* padding: 12px; */
	background: #fff;
	overflow: hidden;
	border-radius: 50%;
	width: 180px;
	/* height: 180px; */
	margin: 0 auto 30px;
}

.service-single .icon-box i{
	font-size: 80px;
	color: #731A22;
}

.service-single h3{
	text-transform: uppercase;
	color: #374C8C;
	font-weight: 600;
	font-size: 22	px;
	letter-spacing: 0.1em;
	margin-bottom: 14px;
}

.service-single p{
	color: #374c8c;
	font-weight: 300;
}

.service-single h5{
	font-size: 20px;
	display: inline-block;
	background: #374C8C;
	text-transform: uppercase;
	padding: 14px 20px 10px;
	color: #d9d9d9;
	margin-top: 10px;
}

.testimonial-slider::before, .testimonial-slider::after {
	
    content: "";
    height: 100%;
    position: absolute;
    width: 200px;
	z-index: 2;
	
}
.service .testimonial-slider::before, .service .testimonial-slider::after {
	background: linear-gradient(to right, #d9d9d9 0%, rgba(255, 255, 255, 0) 100%);
}
.ourteam .testimonial-slider::before, .ourteam .testimonial-slider::after {
	background: linear-gradient(to right, #731A22 0%, rgba(255, 255, 255, 0) 100%);
}
.testimonial .testimonial-slider::before, .testimonial .testimonial-slider::after {
	background: linear-gradient(to right, rgb(66, 64, 64) 0%, rgba(255, 255, 255, 0) 100%);
}



.testimonial-slider::after{
	right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.ourteam{
	padding: 100px 0;
	background: #731A22;
}

.ourteam .main-title h2{
	color: #f2eac2;
}

.team-box{
	border: 2px solid #374c8c;
}

.team-box figure{
	background: #731A22;
	text-align: center;
	padding: 20px 20px 0 20px;
}

.team-box .team-entry{
	padding: 30px;
	text-align: center;
}

.team-box .team-entry p{
	font-size: 18px;
	color: #731A22;
	text-transform: uppercase;
}

.team-box .team-entry h3{
	text-transform: uppercase;
	color: #ededed;
	font-size: 26px;
	letter-spacing: 0.1em;
	margin: 14px 0;
}

.team-social a{
	display: inline-block;
	padding: 0 6px;
	font-size: 20px;
	color: #731A22;
}

.team-social a:hover{
	color: #212121;
}

.gallery{
	padding: 100px 0 0;
	background: #374c8c;
}

.row.no-pad {
  margin-right:0;
  margin-left:0;
}

.row.no-pad > [class*='col-'] {
  padding-right:0!important;
  padding-left:0!important;
}

.gallery .container-fluid{
	padding-left: 0;
	padding-right: 0;
}

.gallery-box{
	position: relative;
}

.gallery-box figure{
	margin-bottom: -1px;
}

.gallery-overlay{
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	background: rgba(0,0,0,0.5);
	border: 4px solid #731A22;
	transition: all 0.4s;
	transform: scale(0.5);
	opacity: 0;
}

.gallery-info{
	position: absolute;
	top: 60%;
	left: 0;
	right: 0;
	transition: all 0.3s;
	text-align: center;
	transform: translate(0,-50%);
}

.gallery-box:hover .gallery-overlay{
	opacity: 1;
	transform: scale(1);
}

.gallery-box:hover .gallery-info{
	top: 50%;
	opacity: 1;
}

.gallery-info p{
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: #731A22;
	text-transform: uppercase;
	background: #fff;
	line-height: 1em;
	margin: 0;
	padding: 16px 30px 10px;
}

.pricing{
	padding: 100px 0;
	background: #731A22;
}

.store-image{
	padding: 20px;
	background: rgba(255,255,255,0.04);
}

.pricing-logo{
	text-align: center;
}

.pricing-logo{
	margin-top: 40px;
	margin-bottom: 40px;
}

.price-list{
	max-width: 420px;
	margin: 0 auto 30px;
}

.price-item{
	font-size: 20px;
	text-transform: uppercase;
	color: #f2eac2;
	letter-spacing: 0.1em;
	display: table-cell;
	white-space: nowrap;
	width: 10%;
	padding-right: 4px;
}

.price-line{
	display: table-cell;
	border-bottom: 1px dashed #f2eac2;
	position: relative;
	bottom: 4px;
}

.price-amount{
	text-align: right;
	display: table-cell;
	font-size: 20px;
	color: #f2eac2;
	letter-spacing: 0.1em;
	white-space: nowrap;
    width: 5%;
	padding-left: 4px;
}

.testimonial{
	padding: 100px 0;
	background: url(../images/testimonial-bg.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
}

.testimonial:before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(17,16,16,0.76);
}

.testimonial-single{
	background: rgba(255,255,255,0.16);
	padding: 30px;
	text-align: center;
}

.testimonial-single .icon-box{
	font-size: 58px;
	color: #fff;
	margin-bottom: 10px;
}
.icon-box img {
    width: 200px!important;
    margin: 0 auto;
    border-radius: 100%;
}
.testimonial-single p{
	color: #fff;
	font-size: 16px;
	line-height: 1.5em;
}

.testimonial-single h3{
	text-transform: uppercase;
	color: #fff;
	font-size: 22px;
	letter-spacing: 0.18em;
	font-weight: 700;
	margin-top: 40px;
}

.testimonial-slider .owl-nav{
	margin-top: 40px;
}

.testimonial-slider .owl-nav .owl-next,
.testimonial-slider .owl-nav .owl-prev{
	width: 50px;
	height: 50px;
	background: #fff;
	color: #212121;
	text-align: center;
	border-radius: 50%;
	font-size: 24px;
	padding-top: 10px;
	transition: all 0.3s;
}

.testimonial-slider .owl-nav .owl-next{	
	float: right;
	padding-left: 3px;
}

.testimonial-slider .owl-nav .owl-prev{
	float: left;
	padding-right: 3px;
}

.testimonial-slider .owl-nav .owl-next:hover,
.testimonial-slider .owl-nav .owl-prev:hover{
	background: #731A22;
	color: #fff;
}
.star-rating {
	line-height:32px;
	font-size: 1.90em;
  }
  .star-rating .fa-star-o{color: #731a22;}
  .star-rating .fa-star{color: #731a22;}

.contactus{
	background: #731A22;
}

.contactus .container-fluid{
	padding-left: 0;
	padding-right: 0;
}


.contact-form{
	padding: 0%;
	text-align: center;
}

.contact-form forn{
	
}

.contact-form-title{
	/*background: url("../images/faixa.svg") no-repeat bottom center;*/
	font-size: 36px;
	color: #f2eac2;
	letter-spacing: 0.18em;
	font-weight: 700;
	padding-bottom: 30px;
	text-transform: uppercase;
	margin-bottom: 50px;
	margin-top: 70px;
}

.contact-form div {
    padding: 1% 5%;
}

.contact-form .form-control{
	border: none;
	outline: 0;
	box-shadow: none;
	border-radius: 0;
	height: auto;
	padding: 12px;
}

.btn-contact{
	background: #212121;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	border: none;
	padding: 10px 30px;
	margin-top: 10px;
}

.google-map{
	line-height: 0;
}

footer{
	background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
	padding: 50px 0 30px;
	
}

.footer-social{
	text-align: center;
}

.footer-social a{
	display: inline-block;
	color: #731A22;
	font-size: 14px;
	padding: 0 8px;
	transform: all 0.3s;
}

.footer-social a:hover{
	color: #fff;
}

.site-info{
	text-align: center;
	padding: 20px 0;
}

.site-info p{
	font-size: 14px;
	color: #c1c1c1;
	letter-spacing: 0.04em;
	margin-bottom: 0;
}
.site-info img{
	width: 10%;
	margin-top: 2%;
}
.site-info p a{
	color: #e2e2e2;
}

.site-info p a:hover{
	color: #731A22;
}

.footer-menu{
	text-align: center;
}

.footer-menu ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

.footer-menu ul li{
	display: inline-block;
}

.footer-menu ul li a{
	display: block;
	color: #c1c1c1;
	font-size: 14px;
	padding: 0 4px;
	transform: all 0.3s;
}

.footer-menu ul li:last-child a:after{
	display: none;
}

.footer-menu ul li a:after{
	content: '-';
	padding-left: 10px;
}

.footer-menu ul li a:hover{
	color: #731A22;
}

/****************************************
		Responsive Media Query
****************************************/

@media only screen and (max-width: 991px) {
	
	.navbar-default .navbar-nav>li>a{
		font-size: 13px;
		padding: 15px 8px 10px;		
	}


	.service-single{
		margin-bottom: 40px;
	}
	
	.main-title h2{
		font-size: 36px;
	}
	
	.team-box{
		max-width: 480px;
		margin: 0 auto 30px;
	}
	
	.store-image{
		max-width: 568px;
		margin: 0 auto;
	}
}
	

/* Mobile Layout */
@media only screen and (max-width: 767px){
	
	#responsive-menu{
		display: block;
		
	}
	
	.navbar-brand img{
		float: left;
	}
	
	.navbar{
		padding: 2px 0;
		min-height: auto;
	}
	
	.navbar-header{
		padding: 8px 0;
	}
	
	.navbar-header:after{
		content: '';
		display: block;
		clear: both;
	}
	
	.slicknav_menu{
		margin-left: -15px;
		margin-right: -15px;
		padding: 0;
		background: none;
	}

	.slicknav_menu ul{
		background: #731A22;
	}
	
	.slicknav_menu li{
		padding: 0 10px;
	}

	.slicknav_menu .active a{
		color: #24292f;
		background: none !important;
	}
	
	.slicknav_menu a{
		color: #fff;
		padding-top: 6px;
		padding-bottom: 6px;
		text-transform: uppercase;
		border: 1px solid transparent;
	}
	
	.slicknav_menu a a{
		border: none !important;
	}
	
	.slicknav_nav .slicknav_row:hover,
	.slicknav_nav a:hover{
		color: #24292f;
	}
	
	.slicknav_menu  .active a{
		color: #24292f !important;
	}
	
	.slicknav_btn{
		padding: 4px 4px;
		background: none;
	}
	
	.slicknav_icon-bar{
		box-shadow: none;
		border-radius: 0;
		margin: 2px 0;
	}
	
	.banner,
	.service,
	.ourteam,
	.pricing,
	.testimonial{
		padding: 60px 0;
	}
	
	.gallery{
		padding-top: 60px;
	}
	
	.header-banner p{
		font-size: 20px;
	}
	
	.header-banner h3{
		font-size: 26px;
	}

	.header-banner h3 br{
		display: none;
	}
	
	.main-title h2{
		font-size: 26px;
	}
	
	.about-img-single{
		width: 33.33%;
		text-align: center !important;
		padding: 10px !important;
		margin: 0 auto;
	}

	.about-img-single img{
		width: auto !important;
	}
	
	.about-desc{
		margin-top: 30px;
	}
	
	.gallery-overlay{
		top: 10px;
		right: 10px;
		bottom: 10px;
		left: 10px;
	}
	
	.gallery-info p{
		padding: 10px;
		line-height: 1.5em;
		background: none;
		font-size: 14px;
		color: #fff;
	}
}

/* Small Mobile Layout */
@media only screen and (max-width: 480px) {
	
	.main-title{
		margin-bottom: 50px;
	}
	
	.main-title h2{
		font-size: 20px;
	}
	
	.contact-form-title{
		font-size: 20px;
	}
	
	.banner-info-single h3{
		font-size: 18px;
	}
	
	.banner-info-single p{
		font-size: 12px;
	}
	
	.banner-info-single .icon-box{
		font-size: 44px;
	}
	
	.team-box .team-entry p{
		font-size: 14px;
	}
	
	.team-box .team-entry h3{
		font-size: 18px;
	}
	
	.team-social a{
		font-size: 16px;
	}
	
	.price-item,
	.price-amount{
		font-size: 16px;
	}
	
	.testimonial-single h3{
		font-size: 18px;
	}
	
	
	
	.service .testimonial-slider::before, .service .testimonial-slider::after {
	background: linear-gradient(to right, #d9d9d9 0%, rgba(255, 255, 255, 0) 20%);
	}
	.ourteam .testimonial-slider::before, .ourteam .testimonial-slider::after {
		background: linear-gradient(to right, #731A22 0%, rgba(255, 255, 255, 0) 20%);
	}
	.testimonial .testimonial-slider::before, .testimonial .testimonial-slider::after {
		background: linear-gradient(to right, rgb(67, 65, 65) 0%, rgba(255, 255, 255, 0) 20%);
	}
}

/*=========== MENU CELULAR ===========*/
#menu-celular-fixo {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99;
  }
  
  .wave-wrap {
	position: relative;
	width: 100%;
	height: 33px;
	overflow: hidden;
	margin-bottom: 0;
  }
  .wave-wrap #wave {
	position: absolute;
	width: 150px;
	transform-origin: bottom;
	transform: scaleY(0.8);
	transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .wave-wrap #wave .path {
	fill: #2f3542;
  }
  
  .list-wrap {
	display: flex;
	width: 100%;
	height: 70px;
	background: rgba(230, 174, 0, 0.86);
	list-style: none;
	justify-content: space-around;
	padding: 0;
	margin: 0;
	}
  .list-wrap li {
	cursor: pointer;
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
	}
  .list-wrap a {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.list-wrap li img {
    width: 30px;
    border-radius: 100%;
    border: 1px solid black;
}
  .list-wrap li i {
	position: relative;
	font-size: 1.5em;
	color: #000000;
	z-index: 5;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
	}

.list-wrap a:nth-child(3) li i {
	margin-left: -7px;
}

  .list-wrap li:before {
	content: "";
	position: absolute;
	background: green;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	z-index: 0;
	transform: scale(0);
	transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
	}
  .list-wrap li.active {
	/* margin-top: -10px; */
  }
  .list-wrap li.active i {
	color: #000000;
	}
  .list-wrap li.active:before {
	transform: scale(1);
	background: #ffffff!important;
	}
  .list-wrap li:nth-child(1):before {
	background: #ffffff;
	}
  .list-wrap li:nth-child(2):before {
	background: #ffffff;
  }
  .list-wrap li:nth-child(3):before {
	background: #7bed9f;
  }
  .list-wrap li:nth-child(4):before {
	background: #70a1ff;
  }
  .list-wrap li:nth-child(5):before {
	background: #dfe4ea;
  }
  
  .phone {
	height: 300px;
	/* border: 7px solid rgba(0, 0, 0, 0.05); */
	border-radius: 20px;
	overflow: hidden;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
  }
  .phone .page {
	height: 327px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3em;
	color: rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
	letter-spacing: 5pt;
	padding-top: 50px;
  }
  #menu-celular-fixo{
	display: none;		  
}	
  @media (max-width:480px) {
	#menu-celular-fixo{
		display: block;
	  }
	  #main-nav{
		display: none;
	  }
  }
  /*============= LOGIN ==============*/
  .loginmodal-container:before {content: "";background: url(../../images/login-borda1.png),#374c8cd1;background-repeat: no-repeat;background-size: 100%;position: absolute;left: 0;right: 0;top: 0;width: 100%;height: 100%;}
  .loginmodal-container object {
    margin: 10px auto;
    display: block;
	}
	.loginmodal-container object {
		margin: 20px auto;
		display: block;
		position: relative;
	}
	
	.loginmodal-container .input-group-addon {
		background: #374c8c;
		color: #fff;
	}
	
	.loginmodal-container button {
		background: #374c8c;
		border: navajowhite;
	}
  .loginmodal-container {
	padding: 6rem 30px;
    max-width: 350px;
    height: 520px;
    width: 100% !important;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
	}
	.loginmodal-container .input-group {
		margin-bottom: 20px;
	}
	.erro{
		background: #ff000085;
	}
	.sucesso {
		background: #91c048;
	}
	  
	.mensagem {
		display: block;
		text-align: center;
		width: 100%;
		color: #fff;
		padding: 10px;
		margin-bottom: 10px;
		border-radius: 5px;
	}
  .loginmodal-container h3 {
	text-align: center;
	color: #fff;
	font-size: 20px;
	margin-bottom: 15px;
	position: relative;
	}
	.loginmodal-container p {
		color: #fff;
		position: relative;
	}
  
  .loginmodal-container input[type=submit], button {
	width: 90%;
	display: block;
	margin: 0 auto;
	font-size: 20px;
	font-weight: bold;
	border-radius: 5px;
	margin-bottom: 10px;
	position: relative;
	}
  
  .loginmodal-container input[type=text], input[type=password] {
	font-size: 16px;
	width: 100%;
	-webkit-appearance: none;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	}
  
  .loginmodal-container input[type=text]:hover, input[type=password]:hover {
	border: 1px solid #b9b9b9;
	border-top: 1px solid #a0a0a0;
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  }
  
  .loginmodal {
	text-align: center;
	font-size: 14px;
	font-family: 'Arial', sans-serif;
	font-weight: 700;
	height: 36px;
	padding: 0 8px;
  /* border-radius: 3px; */
  /* -webkit-user-select: none;
	user-select: none; */
  }
  
  .loginmodal-submit {
	/* border: 1px solid #3079ed; */
	border: 0px;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	background-color: #4d90fe;
	padding: 10px 0px;
	/* font-family: roboto; */
	font-size: 14px;
	/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
	}
  
  .loginmodal-submit:hover {
	/* border: 1px solid #2f5bb7; */
	border: 0px;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	background-color: #357ae8;
	/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
  }
  
  .loginmodal-container a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	opacity: 0.8;
	transition: opacity ease 0.5s;
	} 
  
  .login-help{
	font-size: 12px;
	display: flex;
	justify-content: space-evenly;
	margin: 20px 0;
	}
  
  .login-btn {
	text-align:center;
	margin-top: 50px;
  }

  /*PROCESSAMENTO AJAX BUTTON*/
  .processando-button {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes animation-rotate {
	100% {
	  -webkit-transform: rotate(360deg);
	}
  }
  @-moz-keyframes animation-rotate {
	100% {
	  -moz-transform: rotate(360deg);
	}
  }
  @-o-keyframes animation-rotate {
	100% {
	  -o-transform: rotate(360deg);
	}
  }
  @keyframes animation-rotate {
	100% {
	  transform: rotate(360deg);
	}
  }
  .button {
	background-image: 8121991;
	background-image: -moz-linear-gradient(#4aa3df 0%, #258cd1 100%);
	background-image: -o-linear-gradient(#4aa3df 0%, #258cd1 100%);
	-moz-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(52, 152, 219, 0.5) 0 0 5px;
	-moz-border-radius: 4px;
	-moz-background-clip: padding;
	}
  .button span {
	text-shadow: rgba(29, 111, 165, 0.9) 0 0 2px;
  }
  .button span {
	color: #fff;
	-webkit-transition: all 350ms ease;
	-moz-transition: all 350ms ease;
	-o-transition: all 350ms ease;
	transition: all 350ms ease;
	}
  .button:hover {
	background-image: 8121991;
	background-image: -moz-linear-gradient(#5faee3 0%, #3498db 100%);
	background-image: -o-linear-gradient(#5faee3 0%, #3498db 100%);
	}
  .button:active {
	background-color: #258cd1;
	background-image: 8121991;
	background-image: -webkit-linear-gradient(#258cd1 0%, #258cd1 100%);
	background-image: -moz-linear-gradient(#258cd1 0%, #258cd1 100%);
	background-image: -o-linear-gradient(#258cd1 0%, #258cd1 100%);
	background-image: linear-gradient(#258cd1 0%, #258cd1 100%);
  }
  .button--loading {
	background-image: 8121991 !important;
	background-image: -moz-linear-gradient(#258cd1 0%, #258cd1 100%) !important;
	background-image: -o-linear-gradient(#258cd1 0%, #258cd1 100%) !important;
	cursor: wait;
	}
  .button--loading:before {
	margin: -13px 0 0 -13px;
	width: 24px;
	height: 24px;
	position: absolute;
	left: 50%;
	top: 50%;
	content: '';
	-webkit-border-radius: 24px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 24px;
	-moz-background-clip: padding;
	border-radius: 24px;
	background-clip: padding-box;
	border: rgba(255, 255, 255, 0.25) 2px solid;
	border-top-color: #fff;
	-webkit-animation: animation-rotate 750ms linear infinite;
	-moz-animation: animation-rotate 750ms linear infinite;
	-o-animation: animation-rotate 750ms linear infinite;
	animation: animation-rotate 750ms linear infinite;
  }
	  
  .button--loading span,
  .button--loading:hover span,
  .button--loading:active span {
	color: transparent;
	text-shadow: none;
  }
	  
	  

/*====================== ANIMACAO BACKGROUND ==========================*/
  .background {
	width: 100%;
	height: 100%;
	background: white linear-gradient(45deg, 
		#ff0101 15%, blue 15%, 
		blue 30%, white 30%, 
		white 50%, red 50%, 
		red 65%, blue 65%, 
		blue 80%, white 80%, 
		white 90%
	);
	background-size: 200px 200px;
	background-position: 0% 0%;
	animation: move_background 14s infinite linear;
	z-index: 3;
	position: relative;
}

@keyframes move_background {
	0% {
		background-position: 0% 0;
	}
	
	100% {
		background-position: 100% 0;
	}
}

.platform {
	display: block;
	border: 10px solid white;
	background: #000;
	width: 360px;
	height: 200px;
	border-radius: 5px;
}

.start-point {
	position: absolute;
	top: 20rem;
	left: 3rem;
}

section#ourteam:before {
    background: #000000d9;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
/*====================== FORM RESERVA ==========================*/
		fieldset {
			margin: 0;
			padding: 0;
			border: none;
		}
		.foto-reserva {
			padding: 5px;
			border-radius: 100%;
			border: 1px solid #efefef;
			margin-bottom: 10px;
			background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
		}
		.foto-reserva img {
			width: 100%;
		}
		.foto-reserva figure {
			border-radius: 100%;
			width: 150px;
			height: 150px;
			margin: 0 auto;
			overflow: hidden;
		}
		/* GRID */

		.twelve {
			width: 100%;
		}

		.eleven {
			width: 91.53%;
		}

		.ten {
			width: 83.06%;
		}

		.nine {
			width: 74.6%;
		}

		.eight {
			width: 66.13%;
		}

		.seven {
			width: 57.66%;
		}

		.six {
			width: 49.2%;
		}

		.five {
			width: 40.73%;
		}

		.four {
			width: 32.26%;
		}

		.three {
			width: 23.8%;
		}

		.two {
			width: 15.33%;
		}

		.one {
			width: 6.866%;
		}

		/* COLUMNS */

		/* CLEARFIX */

		.cf:before,
		.cf:after {
			content: " ";
			display: table;
		}

		.cf:after {
			clear: both;
		}

		.cf {
			*zoom: 1;
		}

		.wrapper {
			width: 100%;
			margin: 30px 0;
		}

		/* STEPS */

		.steps {
			list-style-type: none;
			margin: 0;
			padding: 0;
			background-color: #fff;
			text-align: center;
		}


		.steps li {
			display: inline-block;
			margin: 20px;
			color: #ccc;
			padding-bottom: 5px;
		}

		.steps li.is-active {
			border-bottom: 1px solid #3498db;
			color: #3498db;
		}

		/* FORM */

		.form-wrapper .section {
			padding: 20px 20px 30px 20px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			background-color: #fff;
			opacity: 0;
			-webkit-transform: scale(1, 0);
			-ms-transform: scale(1, 0);
			-o-transform: scale(1, 0);
			transform: scale(1, 0);
			-webkit-transform-origin: top center;
			-moz-transform-origin: top center;
			-ms-transform-origin: top center;
			-o-transform-origin: top center;
			transform-origin: top center;
			-webkit-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
			text-align: center;
			position: absolute;
			width: 100%;
		}

		.form-wrapper .section h3 {
			margin-bottom: 30px;
		}

		.form-wrapper .section.is-active {
			opacity: 1;
			-webkit-transform: scale(1, 1);
			-ms-transform: scale(1, 1);
			-o-transform: scale(1, 1);
			transform: scale(1, 1);
			overflow-y: scroll;
			max-height: 500px;
		}

		.form-wrapper .button,
		.form-wrapper .submit {
			background-color: #3498db;
			display: inline-block;
			padding: 8px 30px;
			width: 100%;
			color: #fff;
			cursor: pointer;
			font-size: 14px !important;
			font-family: 'Open Sans', sans-serif !important;
		}

		.form-wrapper .submit {
			border: none;
			outline: none;
			-webkit-box-sizing: content-box;
			-moz-box-sizing: content-box;
			box-sizing: content-box;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
		}

		.form-wrapper input[type="radio"] {
			display: none;
		}

		.form-wrapper input[type="radio"]+label {
			display: block;
			border: 1px solid #ccc;
			width: 100%;
			max-width: 100%;
			padding: 10px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			cursor: pointer;
			position: relative;
		}

		.form-wrapper input[type="radio"]+label:before {
			content: "Ã¢Å“â€";
			position: absolute;
			right: -10px;
			top: -10px;
			width: 30px;
			height: 30px;
			line-height: 30px;
			border-radius: 100%;
			background-color: #3498db;
			color: #fff;
			display: none;
		}


		.form-wrapper input[type="radio"]:checked+label:before {
			display: block;
		}

		.form-wrapper input[type="radio"]+label h4 {
			margin: 15px;
			color: #ccc;
		}

		.form-wrapper input[type="radio"]:checked+label {
			border: 1px solid #3498db;
		}

		.form-wrapper input[type="radio"]:checked+label h4 {
			color: #3498db;
		}

		/* CHEKED SERVIÃƒâ€¡OS */
		@-webkit-keyframes bumpUp {
			20% {
				-webkit-transform: translateY(-4px);
				transform: translateY(-4px);
			}

			100% {
				-webkit-transform: none;
				transform: none;
			}
		}

		@keyframes bumpUp {
			20% {
				-webkit-transform: translateY(-4px);
				transform: translateY(-4px);
			}

			100% {
				-webkit-transform: none;
				transform: none;
			}
		}

		.menu-servico {
			list-style: none;
			padding: 0;
			width: 100%;
			color: #242C35;
			margin: 0;
		}

		.menu-servico>li {
			display: block;
		}
		

		.menu-servico>li>input {
			display: none;
		}

		.menu-servico>li>input:checked~label {
			-webkit-animation: none;
			animation: none;
			-webkit-transition: .1s;
			transition: .1s;
		}

		.menu-servico>li>input:checked~label>.toggleIcon::before {
			opacity: 0;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			text-shadow: 0 0 3px #333;
		}

		.menu-servico>li>input:checked~label>.toggleIcon::after {
			-webkit-transform: none;
			transform: none;
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
		}

		.menu-servico>li>input:checked~.options>ul {
			margin-bottom: 2em;
		}

		.menu-servico>li>input:checked~.options>ul>li {
			margin: 0;
			opacity: 1;
		}

		.menu-servico>li>label {
			display: block;
			color: #7e7e7e;
			padding: 12px 1em 12px 3em;
			background: #FFF;
			position: relative;
			z-index: 1;
			font-weight: 600;
			cursor: pointer;
			box-shadow: 0 0 0 #FFF;
			-webkit-transition: .1s;
			transition: .1s;
			border: 1px solid #f3f3f3;
		}

		.menu-servico>li>label:hover {
			background: rgba(255, 255, 255, 0.8);
		}

		.menu-servico>li>label>.toggleIcon {
			position: absolute;
			width: 1.2em;
			height: 1.2em;
			left: 1.2em;
			top: 0;
			bottom: 0;
			margin: auto;
		}

		.menu-servico>li>label>.toggleIcon::before,
		.menu-servico>li>label>.toggleIcon::after {
			content: '';
			position: absolute;
			background: #AAA;
			-webkit-transition: 0.3s cubic-bezier(0.45, 0.01, 0.27, 1.4);
			transition: 0.3s cubic-bezier(0.45, 0.01, 0.27, 1.4);
		}

		.menu-servico>li>label>.toggleIcon::before {
			width: 2px;
			height: 100%;
			left: calc(50% - 2px);
			margin-left:-8px;
		}

		.menu-servico>li>label>.toggleIcon::after {
			width: 100%;
			height: 2px;
			top: calc(50% - 1px);
			margin-left: -9px;
		}

		.menu-servico>li>.options {
			position: relative;
			overflow: hidden;
		}

		.options label {
			padding: 3px 3px 3px 24px;
			position: relative;
			line-height: 1 !important;
		}
		fieldset.section.is-active::-webkit-scrollbar { 
			display: none; 
		}
		.form-control {
			border: 1px solid #f3f3f3;
			font-weight: 400;
			box-shadow: none;
			padding: 12px 12px;
			height: auto;
		}
		.input-group {
			margin-bottom: 1.5rem;
		}
		.input-group > label {
			text-align: left;
			margin-left: 0;
			display: block;
		}
		.menu-servico>li>.options>ul {
			font-size: .9em;
			list-style: none;
			padding: 0;
			border-radius: 0 0 4px 4px;
			border: 5px solid rgba(255, 255, 255, 0.15);
			-webkit-transition: 0.3s cubic-bezier(0.45, 0.01, 0.27, 2);
			transition: 0.3s cubic-bezier(0.45, 0.01, 0.27, 2);
			-webkit-perspective: 600px;
			perspective: 600px;
		}

		.menu-servico>li>.options>ul>li {
			padding: .5em 1em;
			margin-top: -5em;
			border-bottom: 1px solid #ffffff;
			position: relative;
			cursor: pointer;
			background: #f9f9f9;
			color: #666;
			-webkit-transition: 0.3s ease;
			transition: 0.3s ease;
			-webkit-transition-property: margin, opacity;
			transition-property: margin, opacity;
		}

		.menu-servico>li>.options>ul>li:first-child {
			padding-top: 1em;
		}

		.menu-servico>li>.options>ul>li:last-child {
			border: 0;
			border-radius: 0 0 3px 3px;
		}

		.menu-servico>li>.options>ul>li:hover {
			background: #efefef;
			box-shadow: 5px 0 rgba(255, 255, 224, 0.1), -5px 0 rgba(255, 255, 224, 0.1);
		}

		.checkboxes {
			padding-top: 20px;
		}

		.checkboxes-wrap {
			margin: 0 auto;
			max-width: 400px;
			border: 1px solid #f3f3f3;
		}

		.checkboxes,
		.checkboxes-options {
			padding-left: 10px;
			padding-right: 10px;
		}

		.checkboxes-options {
			border-bottom: 1px solid #f3f3f3;
			padding-top: 5px;
			padding-bottom: 5px;
		}

		.checkboxes label {
			padding: 3px 3px 3px 24px;
			position: relative;
			line-height: 1 !important;
		}

		.checkboxes label:hover {
			background: #f7f7f7;
		}

		.checkboxes label input[type="checkbox"] {
			position: absolute;
			top: 7px;
			left: 7px;
		}
		.menu-servico textarea {
			resize: none;
		}
		ul.menu-servico.reserva-index {
			font-size: 13px;
		}
		.reserva-index > li > label {
			display: flex!important;
			justify-content: space-between;
			align-items: center;
			padding: 7px 14px!important;
		}
		.reserva-index>li>.options>ul>li {
			margin-top: -515px
		}
		.reserva-index>li>.options>ul>li:first-child {
			transition: 1s;
		}
		.reserva-index img {
			width: 100%;
		}
		.reserva-index>li>input:checked~.options>ul>li {
			transition: 2s;
		}
		.reserva-index > li label .btn-reserva {
			width: 100%;
			font-size: 14px;
			padding: 3px 10px;
		}
		.reserva-index .input-group > label {
			padding-left: 0!important;
		}
		span.mask {
			width: 35px;
			height: 35px;
			overflow: hidden;
			border-radius: 100%;
		}
		.quebra-linha {
			display: block;
			width: 100%;
			float: left;
		}
		.fechar-acordiao > li {
			float: left;
			width: 50%;
			padding-right: 5px;
		}
		.lista-profissional {
			display: flex;
			align-items: center;
			font-weight: normal;
		}
		.lista-profissional span:last-child {
			margin-left: 7px;
		}
		@media (max-width: 480px) {
			.fechar-acordiao > li {
				float: left;
				width: 100%;
				padding-right: 0px;
			}
		}

/*CHECKBOX RESERVA*/
@keyframes click-wave {
	0% {
	  height: 20px;
	  width: 20px;
	  opacity: 0.35;
	  position: relative;
	}
	100% {
	  height: 20px;
	  width: 20px;
	  opacity: 0;
	}
  }
  .option-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	height: 20px;
	width: 20px;
	-webkit-transition: all 0.15s ease-out 0s;
	-moz-transition: all 0.15s ease-out 0s;
	transition: all 0.15s ease-out 0s;
	background: #cbd1d8;
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin-right: 0.5rem;
	outline: none;
	position: relative;
	z-index: 1000;
	margin: 0!important;
  }
  .option-input:hover {
	background: #9faab7;
  }
  .option-input:checked {
	background: #d4bb6b;
	margin: 0;
  }
  .option-input:checked::before {
	height: 20px;
	width: 20px;
	position: absolute;
	content: '\2714';
	display: inline-block;
	font-size: 17.666667px;
	text-align: center;
	line-height: 21px;
  }
  .option-input:checked::after {
	-webkit-animation: click-wave 0.65s;
	-moz-animation: click-wave 0.65s;
	animation: click-wave 0.65s;
	background: #40e0d0;
	content: '';
	display: block;
	position: relative;
	z-index: 100;
  }
  
  span.valor-servico {
	  font-weight: 900;
	  color: #1f4386;
	  font-size: 12px;
  }
  
  label.check-flex {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  padding: 0px;
	margin: 0;
	text-align: center;
  }

  /*VALOR RESERVA*/
  .valor-total-servico {
    background: #d4bb6b;
    color: #374c8c;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
	font-size: 14px;
	margin-bottom: 1.5rem;
}

span.valor:before {content: "R$";position: relative;left: -2px;font-weight: 800;}