/*
	Template Name 	: Barbershop and Hair Salon HTML Template
	Author 			: Awaiken Theme
	Author Url 		: https://awaikenthemes.com
*/

@font-face {
	font-family: 'NoemieScript';
	src: url('../fonts/NoemieScriptRegular.eot');
	src: url('../fonts/NoemieScriptRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NoemieScriptRegular.woff2') format('woff2'),
		url('../fonts/NoemieScriptRegular.woff') format('woff'),
		url('../fonts/NoemieScriptRegular.ttf') format('truetype'),
		url('../fonts/NoemieScriptRegular.svg#NoemieScriptRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
	margin-top:0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

img{
	max-width: 100%;
}

a:hover{
	text-decoration: none;
	outline: 0;
}

a:focus{
	text-decoration: none;
	outline: 0;
}

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #be9342;
}

::selection {
    color: #fff;
    background: #be9342;
}

.preloader{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.browser-screen-loading-content {
    text-align: center;
    height: 2em;
    max-width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 3em;
    left: 0;
    margin: auto;
}

.loading-dots {
    margin-left: -1.5em;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-animation: loading-dots-fadein .5s linear forwards;
    -moz-animation: loading-dots-fadein .5s linear forwards;
    -o-animation: loading-dots-fadein .5s linear forwards;
    -ms-animation: loading-dots-fadein .5s linear forwards;
    animation: loading-dots-fadein .5s linear forwards;
}

.loading-dots i {
    width: .5em;
    height: .5em;
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 0 .125em;
    -webkit-animation: loading-dots-middle-dots .5s linear infinite;
    -moz-animation: loading-dots-middle-dots .5s linear infinite;
    -o-animation: loading-dots-middle-dots .5s linear infinite;
    -ms-animation: loading-dots-middle-dots .5s linear infinite;
    animation: loading-dots-middle-dots .5s linear infinite;
}

.loading-dots.dark-gray i {
    background: #fff;
}

.loading-dots i:first-child {
    -webkit-animation: loading-dots-first-dot .5s infinite;
    -moz-animation: loading-dots-first-dot .5s linear infinite;
    -o-animation: loading-dots-first-dot .5s linear infinite;
    -ms-animation: loading-dots-first-dot .5s linear infinite;
    animation: loading-dots-first-dot .5s linear infinite;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate(-1em);
    -moz-transform: translate(-1em);
    -o-transform: translate(-1em);
    -ms-transform: translate(-1em);
    transform: translate(-1em);
}

.loading-dots i:last-child {
    -webkit-animation: loading-dots-last-dot .5s linear infinite;
    -moz-animation: loading-dots-last-dot .5s linear infinite;
    -o-animation: loading-dots-last-dot .5s linear infinite;
    -ms-animation: loading-dots-last-dot .5s linear infinite;
    animation: loading-dots-last-dot .5s linear infinite;
}

.loading-text{
	color: #fff;
	margin-top: 20px;
	letter-spacing: 0.1em;
}

@-moz-keyframes loading-dots-fadein {
    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none
    }
}

@-webkit-keyframes loading-dots-fadein {
    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none
    }
}

@-o-keyframes loading-dots-fadein {
    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none
    }
}

@keyframes loading-dots-fadein {
    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none
    }
}

@-moz-keyframes loading-dots-first-dot {
    100% {
        -webkit-transform: translate(1em);
        -moz-transform: translate(1em);
        -o-transform: translate(1em);
        -ms-transform: translate(1em);
        transform: translate(1em);
        opacity: 1;
        -ms-filter: none;
        filter: none
    }
}

@-webkit-keyframes loading-dots-first-dot {
    100% {
        -webkit-transform: translate(1em);
        -moz-transform: translate(1em);
        -o-transform: translate(1em);
        -ms-transform: translate(1em);
        transform: translate(1em);
        opacity: 1;
        -ms-filter: none;
        filter: none
    }
}

@-o-keyframes loading-dots-first-dot {
    100% {
        -webkit-transform: translate(1em);
        -moz-transform: translate(1em);
        -o-transform: translate(1em);
        -ms-transform: translate(1em);
        transform: translate(1em);
        opacity: 1;
        -ms-filter: none;
        filter: none
    }
}

@keyframes loading-dots-first-dot {
    100% {
        -webkit-transform: translate(1em);
        -moz-transform: translate(1em);
        -o-transform: translate(1em);
        -ms-transform: translate(1em);
        transform: translate(1em);
        opacity: 1;
        -ms-filter: none;
        filter: none
    }
}

@-moz-keyframes loading-dots-middle-dots {
    100% {
        -webkit-transform: translate(1em);
        -moz-transform: translate(1em);
        -o-transform: translate(1em);
        -ms-transform: translate(1em);
        transform: translate(1em)
    }
}

@-webkit-keyframes loading-dots-middle-dots {
    100% {
        -webkit-transform: translate(1em);
        -moz-transform: translate(1em);
        -o-transform: translate(1em);
        -ms-transform: translate(1em);
        transform: translate(1em)
    }
}

@-o-keyframes loading-dots-middle-dots {
    100% {
        -webkit-transform: translate(1em);
        -moz-transform: translate(1em);
        -o-transform: translate(1em);
        -ms-transform: translate(1em);
        transform: translate(1em)
    }
}

@keyframes loading-dots-middle-dots {
    100% {
        -webkit-transform: translate(1em);
        -moz-transform: translate(1em);
        -o-transform: translate(1em);
        -ms-transform: translate(1em);
        transform: translate(1em)
    }
}

@-moz-keyframes loading-dots-last-dot {
    100% {
        -webkit-transform: translate(2em);
        -moz-transform: translate(2em);
        -o-transform: translate(2em);
        -ms-transform: translate(2em);
        transform: translate(2em);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0)
    }
}

@-webkit-keyframes loading-dots-last-dot {
    100% {
        -webkit-transform: translate(2em);
        -moz-transform: translate(2em);
        -o-transform: translate(2em);
        -ms-transform: translate(2em);
        transform: translate(2em);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0)
    }
}

@-o-keyframes loading-dots-last-dot {
    100% {
        -webkit-transform: translate(2em);
        -moz-transform: translate(2em);
        -o-transform: translate(2em);
        -ms-transform: translate(2em);
        transform: translate(2em);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0)
    }
}

@keyframes loading-dots-last-dot {
    100% {
        -webkit-transform: translate(2em);
        -moz-transform: translate(2em);
        -o-transform: translate(2em);
        -ms-transform: translate(2em);
        transform: translate(2em);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0)
    }
}
/************************************/
/*****    Navigation area css   *****/
/************************************/

.navbar{
	margin-bottom: 0;
	top: -72px;
}

.navbar-brand{
	padding: 1px 15px;
}

.navbar-brand img{
	/*filter: brightness(0) invert(1);*/
	transition: all 0.3s;
}

.navbar-brand h1{
	font-size: 30px;
	margin: 0;
	color: #fff;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	text-transform: uppercase;
}

.navbar-brand h1 i{
	position: relative;
	top: 3px;
	color: #ecae1a;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.navbar-default{
	background: #be9342;
	border: none;
	border-bottom: 1px solid transparent;
	padding: 10px 0;
	border-radius: 0;
	z-index: 12;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

.navbar-default .navbar-nav>li>a:hover{
	color: #fff;
}

.navbar-default .navbar-nav>li>a:focus{
	color: #fff;
}

.navbar-default .navbar-nav>li>a{
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.04em;
	padding: 17px 15px 13px; 
	position: relative;
}

.active a{
	background: none !important;
	color: #282828 !important;
}

.navbar-default .active a:after{
	transform: scale(1) !important;
	-webkit-transform: scale(1) !important;
	-moz-transform: scale(1) !important;
}

.btn-custom{
	display: inline-block;
	background: #d0ae5e;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.12em;
	font-size: 15px;
	padding: 14px 40px;
	font-weight: 500;
	min-width: 200px;
	text-align: center;
	transition: all 0.4s;
	border-radius: 40px;
}

.btn-custom:hover{
	background: #282828;
	color: #fff;
}

.navbar-default .navbar-toggle{
	border-radius: 0;
	border-color: #fff;
	padding: 0;
}

.navbar-default .navbar-toggle .icon-bar{
	background: #fff;
}

.navbar-default .navbar-toggle:hover{
	background: none;
}

.sticky-header{
	top: 0;
}
@media (max-width: 480px) {
	.no-padd {
		padding: 0;
	}
}

/************************************/
/*****     TABELA     *****/
/************************************/
table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
  }
  .tabela img {
  border: 1px solid #ebebeb;
    border-radius: 100%;
	width: 30px;
  }
  .tabela {
    border-bottom: none;
    width: 100%;
    margin-bottom: 20px;
  }

  .tabela th,
  .tabela td {
    border-right: #ababab solid 0px;
    font-size: 12px;
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: middle!important;
  }

  .tabela td:last-child {
     border-right: 0;
  }

  .tabela thead th {
    font-weight: normal;
    background-color: #d0b45e;
    color: #fff;
    font-size: 15px;
  }

  .tabela tbody > tr:nth-child(odd) > td,
  .tabela tbody > tr:nth-child(odd) > th {
    background-color: #f8f8f8;
  }
    .tabela tbody > tr:nth-child(even) > td,
  .tabela tbody > tr:nth-child(even) > th {
    background-color: #ffffff;
  }

  span.fila-aguadando {
    width: 30px;
    height: 30px;
    background: #f3f4f6;
    display: block;
    border-radius: 100%;
    border: 2px solid #d0b45e;
}
/* Small Sizes */
@media (max-width: 767px) { 
  
  /* Responsive Table */
  .table-responsive {
    display: block;
    position: relative;
    width: 100%;
  }

  .table-responsive thead,
  .table-responsive tbody,
  .table-responsive th,
  .table-responsive td,
  .table-responsive tr {
    display: block;
  }
  .table-responsive td,
  .table-responsive th {
    height: 35px;
  }

  .table-responsive thead {
    float: left;
  }

  .table-responsive tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }

  .table-responsive tbody tr {
    display: inline-block;
  }

  
  .tabela td:last-child {
     border-right: #999999 solid 1px;
  }


}

.circle {
	background-color: #a2ce39;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	position: relative;
	z-index: 997;
  }
  
  .circle:before {
	background-color: #a2ce39;
	content: "";
	display: table;
	border-radius: 50%;
	position: absolute;
	animation: pulse 1100ms ease-in-out infinite;
	/* z-index: -22; */
  }
  @keyframes pulse {
	0% {
	  opacity: 1;
	  width: 30px;
	  height: 30px;
	  left: 0;
	  top: 0;
	}
	90% {
	  opacity: 0.1;
	  left: -7px;
	  top: -7px;
	  width: 45px;
	  height: 45px;
	}
	100% {
	  opacity: 0;
	  width: 30px;
	  height: 30px;
	  left: 0;
	  top: 0;
	}
  }
  
  .circle i {
	  color: #ffffff;
	  position: absolute;
	  z-index: 9999;
	  left: 5px;
	  top: 6px;
	  font-size: 20px;
  }

.btn-reserva {
	color: #ffffff;
	font-weight: bold;
	font-size: 18px;
	background: #d49d00;
	background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
	background-position: 100%;
	background-size: 400%;
	-webkit-transition: background 300ms ease-in-out;
	transition: background 701ms ease-in-out;
	border: #f1c40f solid 3px;
	border-radius: 0.6em;
	width: 300px;
	margin: 0 auto;
	display: block;
  }
  .btn-reserva:hover {
	background-position: 0;
  }
/************************************/
/*****     Slider area css      *****/
/************************************/

.banner{
	position: relative;
	top: 0px;
	left: 0;
	width: 100%;
	background-size: cover!important;
	padding: 100px 0 100px;
}

.banner:before{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.50);
}

.banner-icon{
	display: block;
	position: absolute;
	left: 50%;
	bottom: -40px;
	margin-left: -40px;
	width: 80px;
	height: 80px;
	background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
	font-size: 44px;
	text-align: center;
	transform: rotate(45deg);
}

.banner-icon i{
	padding-top: 6px;
	padding-right: 16px;
	display: inline-block;
	transform: rotate(-45deg);
}

.header-banner{
	position: relative;
	z-index: 1;
	text-align: center;
}

.header-banner p{
	font-family: 'NoemieScript';
	font-size: 32px;
	color: rgba(255,255,255,0.76);
	padding-top: 30px;
	padding-bottom: 10px;
}

.header-banner h3{
	font-size: 50px;
	color: rgba(255,255,255,0.76);
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.18em;
	line-height: 1.3em;
}

.banner-info-single{
	background: rgba(230, 174, 0, 0.2);
    padding: 20px;
    position: relative;
    z-index: 1;
    margin: 30px 0;
	border-radius: 10px 3px;
}

.banner-info-single .icon-box{
	width: 60px;
	text-align: center;
	font-size: 50px;
	color: #be9342;
	position: absolute;
	left: 10px;
	top: 10px;
}

.banner-info-single h3{
	color: #fff;
	text-transform: uppercase;
	font-size: 20px; 
	margin-bottom: 6px;
	letter-spacing: 0.18em;
}

.banner-info-single p{
	font-size: 15px;
	color: #fff;
	margin-bottom: 0;
}

@media (max-width:480px){
	.banner-info-single{
		padding: 5px;
	}
}

.main-title{
	text-align: center;
	padding-bottom: 20px;
	margin-bottom: 80px;
}

.main-title h2{
	font-size: 50px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.18em;
	font-weight: 600;
}

.aboutus{
	background: #212121;
	padding: 100px 0;
}

.row.no-pad div > [class*='col-']{
	padding-right: 0;
    padding-left: 0;
}

.about-image{
	
}

.about-image:after{
	content: '';
	display: block;
	clear: both;
}

.about-img-single{
	width: 33.33%;
	float: left;
}

.about-img-single:nth-of-type(1){
	text-align: right;
	padding-top: 50px;
	padding-right: 1px;
}

.about-img-single:nth-of-type(2) img{
	width: 100%;
}

.about-img-single:nth-of-type(3){
	text-align: left;
	padding-top: 50px;
	padding-left: 1px;
}

.about-desc{
	margin-top: 80px;
}

.about-desc p{
	color: #fff;
	text-align: center;
	font-size: 15px;
	font-weight: 300;
	line-height: 1.8em;
}

.service{
	background: #111010;
	padding: 100px 0;
}

.service-single{
	text-align: center;
}

.service-single .icon-box{
	background: #fff;
	width: 156px;
	height: 156px;
	border-radius:50%;
	padding-top: 24px;
	border: 2px solid #be9342;
	position: relative;
}

.service-single .icon-box-outer{
	padding: 12px;
	background: #fff;
	overflow: hidden;
	border-radius: 50%;
	width: 180px;
	height: 180px;
	margin: 0 auto 30px;
}

.service-single .icon-box i{
	font-size: 80px;
	color: #be9342;
}

.service-single h3{
	text-transform: uppercase;
	color: #be9342;
	font-weight: 600;
	font-size: 22	px;
	letter-spacing: 0.1em;
	margin-bottom: 14px;
}

.service-single p{
	color: #fff;
	font-weight: 300;
}

.service-single h5{
	font-size: 20px;
	display: inline-block;
	background: #be9342;
	text-transform: uppercase;
	padding: 14px 20px 10px;
	color: #fff;
	margin-top: 10px;
}

.testimonial-slider::before, .testimonial-slider::after {
	
    content: "";
    height: 100%;
    position: absolute;
    width: 200px;
	z-index: 2;
	
}
.service .testimonial-slider::before, .service .testimonial-slider::after {
	background: linear-gradient(to right, #111010 0%, rgba(255, 255, 255, 0) 100%);
}
.ourteam .testimonial-slider::before, .ourteam .testimonial-slider::after {
	background: linear-gradient(to right, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}
.testimonial .testimonial-slider::before, .testimonial .testimonial-slider::after {
	background: linear-gradient(to right, #111010 0%, rgba(255, 255, 255, 0) 100%);
}



.testimonial-slider::after{
	right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.ourteam{
	padding: 100px 0;
}

.ourteam .main-title h2{
	color: #212121;
}

.team-box{
	border: 1px solid #2f2c2c;
}

.team-box figure{
	background: #2f2c2c;
	text-align: center;
	padding: 20px 20px 0 20px;
}

.team-box .team-entry{
	padding: 30px;
	text-align: center;
}

.team-box .team-entry p{
	font-size: 18px;
	color: #be9342;
	text-transform: uppercase;
}

.team-box .team-entry h3{
	text-transform: uppercase;
	color: #212121;
	font-size: 26px;
	letter-spacing: 0.1em;
	margin: 14px 0;
}

.team-social a{
	display: inline-block;
	padding: 0 6px;
	font-size: 20px;
	color: #be9342;
}

.team-social a:hover{
	color: #212121;
}

.gallery{
	padding: 100px 0 0;
	background: #2f2c2c;
}

.row.no-pad {
  margin-right:0;
  margin-left:0;
}

.row.no-pad > [class*='col-'] {
  padding-right:0!important;
  padding-left:0!important;
}

.gallery .container-fluid{
	padding-left: 0;
	padding-right: 0;
}

.gallery-box{
	position: relative;
}

.gallery-box figure{
	margin-bottom: -1px;
}

.gallery-overlay{
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	background: rgba(0,0,0,0.5);
	border: 4px solid #be9342;
	transition: all 0.4s;
	transform: scale(0.5);
	opacity: 0;
}

.gallery-info{
	position: absolute;
	top: 60%;
	left: 0;
	right: 0;
	transition: all 0.3s;
	text-align: center;
	transform: translate(0,-50%);
}

.gallery-box:hover .gallery-overlay{
	opacity: 1;
	transform: scale(1);
}

.gallery-box:hover .gallery-info{
	top: 50%;
	opacity: 1;
}

.gallery-info p{
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: #be9342;
	text-transform: uppercase;
	background: #fff;
	line-height: 1em;
	margin: 0;
	padding: 16px 30px 10px;
}

.pricing{
	padding: 100px 0;
	background: #111010;
}

.store-image{
	padding: 20px;
	background: rgba(255,255,255,0.04);
}

.pricing-logo{
	text-align: center;
}

.pricing-logo{
	margin-top: 40px;
	margin-bottom: 40px;
}

.price-list{
	max-width: 420px;
	margin: 0 auto 30px;
}

.price-item{
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.1em;
	display: table-cell;
	white-space: nowrap;
	width: 10%;
	padding-right: 4px;
}

.price-line{
	display: table-cell;
	border-bottom: 1px dashed #fff;
	position: relative;
	bottom: 4px;
}

.price-amount{
	text-align: right;
	display: table-cell;
	font-size: 20px;
	color: #fff;
	letter-spacing: 0.1em;
	white-space: nowrap;
    width: 5%;
	padding-left: 4px;
}

.testimonial{
	padding: 100px 0;
	background: url(../images/testimonial-bg.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
}

.testimonial:before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(17,16,16,0.76);
}

.testimonial-single{
	background: rgba(255,255,255,0.16);
	padding: 30px;
	text-align: center;
}

.testimonial-single .icon-box{
	font-size: 58px;
	color: #fff;
	margin-bottom: 10px;
}
.icon-box img {
    width: 200px!important;
    margin: 0 auto;
    border-radius: 100%;
}
.testimonial-single p{
	color: #fff;
	font-size: 16px;
	line-height: 1.5em;
}

.testimonial-single h3{
	text-transform: uppercase;
	color: #fff;
	font-size: 22px;
	letter-spacing: 0.18em;
	font-weight: 700;
	margin-top: 40px;
}

.testimonial-slider .owl-nav{
	margin-top: 40px;
}

.testimonial-slider .owl-nav .owl-next,
.testimonial-slider .owl-nav .owl-prev{
	width: 50px;
	height: 50px;
	background: #fff;
	color: #212121;
	text-align: center;
	border-radius: 50%;
	font-size: 24px;
	padding-top: 10px;
	transition: all 0.3s;
}

.testimonial-slider .owl-nav .owl-next{	
	float: right;
	padding-left: 3px;
}

.testimonial-slider .owl-nav .owl-prev{
	float: left;
	padding-right: 3px;
}

.testimonial-slider .owl-nav .owl-next:hover,
.testimonial-slider .owl-nav .owl-prev:hover{
	background: #be9342;
	color: #fff;
}
.star-rating {
	line-height:32px;
	font-size: 1.90em;
  }
  .star-rating .fa-star-o{color: #695106;}
  .star-rating .fa-star{color: #d0b45e;}

.contactus{
	background: #be9342;
}

.contactus .container-fluid{
	padding-left: 0;
	padding-right: 0;
}


.contact-form{
	padding: 0%;
	text-align: center;
}

.contact-form forn{
	
}

.contact-form-title{
	background: url(../images/title-white-bg.png) no-repeat bottom center;
	font-size: 36px;
	color: #fff;
	letter-spacing: 0.18em;
	font-weight: 700;
	padding-bottom: 30px;
	text-transform: uppercase;
	margin-bottom: 50px;
	margin-top: 70px;
}

.contact-form div {
    padding: 1% 5%;
}

.contact-form .form-control{
	border: none;
	outline: 0;
	box-shadow: none;
	border-radius: 0;
	height: auto;
	padding: 12px;
}

.btn-contact{
	background: #212121;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	border: none;
	padding: 10px 30px;
	margin-top: 10px;
}

.google-map{
	line-height: 0;
}

footer{
	background: #212121;
	padding: 50px 0 70px;
	
}

.footer-social{
	text-align: center;
}

.footer-social a{
	display: inline-block;
	color: #be9342;
	font-size: 14px;
	padding: 0 8px;
	transform: all 0.3s;
}

.footer-social a:hover{
	color: #fff;
}

.site-info{
	text-align: center;
	padding: 20px 0;
}

.site-info p{
	font-size: 14px;
	color: #c1c1c1;
	letter-spacing: 0.04em;
	margin-bottom: 0;
}

.site-info p a{
	color: #e2e2e2;
}

.site-info p a:hover{
	color: #be9342;
}

.footer-menu{
	text-align: center;
}

.footer-menu ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

.footer-menu ul li{
	display: inline-block;
}

.footer-menu ul li a{
	display: block;
	color: #c1c1c1;
	font-size: 14px;
	padding: 0 4px;
	transform: all 0.3s;
}

.footer-menu ul li:last-child a:after{
	display: none;
}

.footer-menu ul li a:after{
	content: '-';
	padding-left: 10px;
}

.footer-menu ul li a:hover{
	color: #be9342;
}

/****************************************
		Responsive Media Query
****************************************/

@media only screen and (max-width: 991px) {
	
	.navbar-default .navbar-nav>li>a{
		font-size: 13px;
		padding: 15px 8px 10px;		
	}


	.service-single{
		margin-bottom: 40px;
	}
	
	.main-title h2{
		font-size: 36px;
	}
	
	.team-box{
		max-width: 480px;
		margin: 0 auto 30px;
	}
	
	.store-image{
		max-width: 568px;
		margin: 0 auto;
	}
}
	

/* Mobile Layout */
@media only screen and (max-width: 767px){
	
	#responsive-menu{
		display: block;
		
	}
	
	.navbar-brand img{
		float: left;
	}
	
	.navbar{
		padding: 2px 0;
		min-height: auto;
	}
	
	.navbar-header{
		padding: 8px 0;
	}
	
	.navbar-header:after{
		content: '';
		display: block;
		clear: both;
	}
	
	.slicknav_menu{
		margin-left: -15px;
		margin-right: -15px;
		padding: 0;
		background: none;
	}

	.slicknav_menu ul{
		background: #be9342;
	}
	
	.slicknav_menu li{
		padding: 0 10px;
	}

	.slicknav_menu .active a{
		color: #24292f;
		background: none !important;
	}
	
	.slicknav_menu a{
		color: #fff;
		padding-top: 6px;
		padding-bottom: 6px;
		text-transform: uppercase;
		border: 1px solid transparent;
	}
	
	.slicknav_menu a a{
		border: none !important;
	}
	
	.slicknav_nav .slicknav_row:hover,
	.slicknav_nav a:hover{
		color: #24292f;
	}
	
	.slicknav_menu  .active a{
		color: #24292f !important;
	}
	
	.slicknav_btn{
		padding: 4px 4px;
		background: none;
	}
	
	.slicknav_icon-bar{
		box-shadow: none;
		border-radius: 0;
		margin: 2px 0;
	}
	
	.banner,
	.service,
	.ourteam,
	.pricing,
	.testimonial{
		padding: 60px 0;
	}
	
	.gallery{
		padding-top: 60px;
	}
	
	.header-banner p{
		font-size: 20px;
	}
	
	.header-banner h3{
		font-size: 26px;
	}

	.header-banner h3 br{
		display: none;
	}
	
	.main-title h2{
		font-size: 26px;
	}
	
	.about-img-single{
		width: 33.33%;
		text-align: center !important;
		padding: 10px !important;
		margin: 0 auto;
	}

	.about-img-single img{
		width: auto !important;
	}
	
	.about-desc{
		margin-top: 30px;
	}
	
	.gallery-overlay{
		top: 10px;
		right: 10px;
		bottom: 10px;
		left: 10px;
	}
	
	.gallery-info p{
		padding: 10px;
		line-height: 1.5em;
		background: none;
		font-size: 14px;
		color: #fff;
	}
}

/* Small Mobile Layout */
@media only screen and (max-width: 480px) {
	
	.main-title{
		margin-bottom: 50px;
	}
	
	.main-title h2{
		font-size: 20px;
	}
	
	.contact-form-title{
		font-size: 20px;
	}
	
	.banner-info-single h3{
		font-size: 18px;
	}
	
	.banner-info-single p{
		font-size: 12px;
	}
	
	.banner-info-single .icon-box{
		font-size: 44px;
	}
	
	.team-box .team-entry p{
		font-size: 14px;
	}
	
	.team-box .team-entry h3{
		font-size: 18px;
	}
	
	.team-social a{
		font-size: 16px;
	}
	
	.price-item,
	.price-amount{
		font-size: 16px;
	}
	
	.testimonial-single h3{
		font-size: 18px;
	}
	
	.service .testimonial-slider::before, .service .testimonial-slider::after {
			background: linear-gradient(to right, #111010 0%, rgba(255, 255, 255, 0) 20%);
		}
	.ourteam .testimonial-slider::before, .ourteam .testimonial-slider::after {
		background: linear-gradient(to right, #FFFFFF 0%, rgba(255, 255, 255, 0) 20%);
	}
	.testimonial .testimonial-slider::before, .testimonial .testimonial-slider::after {
		background: linear-gradient(to right, #111010 0%, rgba(255, 255, 255, 0) 20%);
	}
}

/*=========== MENU CELULAR ===========*/
#menu-celular-fixo {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99;
  }
  
  .wave-wrap {
	position: relative;
	width: 100%;
	height: 33px;
	overflow: hidden;
	margin-bottom: 0;
  }
  .wave-wrap #wave {
	position: absolute;
	width: 150px;
	transform-origin: bottom;
	transform: scaleY(0.8);
	transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .wave-wrap #wave .path {
	fill: #2f3542;
  }
  
  .list-wrap {
	display: flex;
	width: 100%;
	height: 70px;
	background: rgba(230, 174, 0, 0.86);
	list-style: none;
	justify-content: space-around;
	padding: 0;
	margin: 0;
	}
  .list-wrap li {
	cursor: pointer;
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
	}
  .list-wrap a {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.list-wrap li img {
    width: 30px;
    border-radius: 100%;
    border: 1px solid black;
}
  .list-wrap li i {
	position: relative;
	font-size: 1.8em;
	color: #000000;
	z-index: 5;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
	}
  .list-wrap li:before {
	content: "";
	position: absolute;
	background: green;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	z-index: 0;
	transform: scale(0);
	transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
	}
  .list-wrap li.active {
	/* margin-top: -10px; */
  }
  .list-wrap li.active i {
	color: #000000;
	}
  .list-wrap li.active:before {
	transform: scale(1);
	background: #ffffff!important;
	}
  .list-wrap li:nth-child(1):before {
	background: #ffffff;
	}
  .list-wrap li:nth-child(2):before {
	background: #ffffff;
  }
  .list-wrap li:nth-child(3):before {
	background: #7bed9f;
  }
  .list-wrap li:nth-child(4):before {
	background: #70a1ff;
  }
  .list-wrap li:nth-child(5):before {
	background: #dfe4ea;
  }
  
  .phone {
	height: 300px;
	/* border: 7px solid rgba(0, 0, 0, 0.05); */
	border-radius: 20px;
	overflow: hidden;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
  }
  .phone .page {
	height: 327px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3em;
	color: rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
	letter-spacing: 5pt;
	padding-top: 50px;
  }
  #menu-celular-fixo{
	display: none;		  
}	
  @media (max-width:480px) {
	#menu-celular-fixo{
		display: block;
	  }
	  #main-nav{
		display: none;
	  }
  }
  /*============= LOGIN ==============*/
  .loginmodal-container {
	padding: 30px;
	max-width: 350px;
	width: 100% !important;
	background-color: #F7F7F7;
	margin: 0 auto;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	}
	.loginmodal-container .input-group {
		margin-bottom: 20px;
	}
	.erro{
		background: #ff000085;
	}
	.sucesso {
		background: #91c048;
	}
	  
	.mensagem {
		text-align: center;
		width: 100%;
		color: #fff;
		padding: 10px;
		margin-bottom: 10px;
		border-radius: 5px;
	}
  .loginmodal-container h3 {
	text-align: center;
	font-size: 1.8em;
	margin-bottom: 30px;
	}
  
  .loginmodal-container input[type=submit], button {
	width: 90%;
	display: block;
	margin: 0 auto;
	font-size: 20px;
	font-weight: bold;
	border-radius: 5px;
	margin-bottom: 10px;
	position: relative;
	}
  
  .loginmodal-container input[type=text], input[type=password] {
	/* height: 44px; */
	font-size: 16px;
	width: 100%;
	/* margin-bottom: 10px; */
	-webkit-appearance: none;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	/* border-radius: 2px; */
	padding: 0 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	}
  
  .loginmodal-container input[type=text]:hover, input[type=password]:hover {
	border: 1px solid #b9b9b9;
	border-top: 1px solid #a0a0a0;
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  }
  
  .loginmodal {
	text-align: center;
	font-size: 14px;
	font-family: 'Arial', sans-serif;
	font-weight: 700;
	height: 36px;
	padding: 0 8px;
  /* border-radius: 3px; */
  /* -webkit-user-select: none;
	user-select: none; */
  }
  
  .loginmodal-submit {
	/* border: 1px solid #3079ed; */
	border: 0px;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	background-color: #4d90fe;
	padding: 10px 0px;
	/* font-family: roboto; */
	font-size: 14px;
	/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
	}
  
  .loginmodal-submit:hover {
	/* border: 1px solid #2f5bb7; */
	border: 0px;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	background-color: #357ae8;
	/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
  }
  
  .loginmodal-container a {
	text-decoration: none;
	color: #666;
	font-weight: 400;
	text-align: center;
	display: inline-block;
	opacity: 0.6;
	transition: opacity ease 0.5s;
	} 
  
  .login-help{
	font-size: 12px;
	display: flex;
	justify-content: space-evenly;
	margin: 20px 0;
	}
  
  .login-btn {
	text-align:center;
	margin-top: 50px;
  }
  
  .button {
	padding: 9px 0;
	background: #4d90fe;
	color: #fff;
	display: inline-block;
	text-decoration: none;
	font-size: 14px;
	margin: 0 auto;
	width: 90%;
	display: block;
	border: none;
	}
  
  .button:hover,
  .button:visited {
	background: #4d90fe;
	color: #fff;
	border: none;
	}

  /*PROCESSAMENTO AJAX BUTTON*/
  .processando-button {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes animation-rotate {
	100% {
	  -webkit-transform: rotate(360deg);
	}
  }
  @-moz-keyframes animation-rotate {
	100% {
	  -moz-transform: rotate(360deg);
	}
  }
  @-o-keyframes animation-rotate {
	100% {
	  -o-transform: rotate(360deg);
	}
  }
  @keyframes animation-rotate {
	100% {
	  transform: rotate(360deg);
	}
  }
  .button {
	background-image: 8121991;
	background-image: -moz-linear-gradient(#4aa3df 0%, #258cd1 100%);
	background-image: -o-linear-gradient(#4aa3df 0%, #258cd1 100%);
	-moz-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(52, 152, 219, 0.5) 0 0 5px;
	-moz-border-radius: 4px;
	-moz-background-clip: padding;
	}
  .button span {
	text-shadow: rgba(29, 111, 165, 0.9) 0 0 2px;
  }
  .button span {
	color: #fff;
	-webkit-transition: all 350ms ease;
	-moz-transition: all 350ms ease;
	-o-transition: all 350ms ease;
	transition: all 350ms ease;
	}
  .button:hover {
	background-image: 8121991;
	background-image: -moz-linear-gradient(#5faee3 0%, #3498db 100%);
	background-image: -o-linear-gradient(#5faee3 0%, #3498db 100%);
	}
  .button:active {
	background-color: #258cd1;
	background-image: 8121991;
	background-image: -webkit-linear-gradient(#258cd1 0%, #258cd1 100%);
	background-image: -moz-linear-gradient(#258cd1 0%, #258cd1 100%);
	background-image: -o-linear-gradient(#258cd1 0%, #258cd1 100%);
	background-image: linear-gradient(#258cd1 0%, #258cd1 100%);
  }
  .button--loading {
	background-image: 8121991 !important;
	background-image: -moz-linear-gradient(#258cd1 0%, #258cd1 100%) !important;
	background-image: -o-linear-gradient(#258cd1 0%, #258cd1 100%) !important;
	cursor: wait;
	}
  .button--loading:before {
	margin: -13px 0 0 -13px;
	width: 24px;
	height: 24px;
	position: absolute;
	left: 50%;
	top: 50%;
	content: '';
	-webkit-border-radius: 24px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 24px;
	-moz-background-clip: padding;
	border-radius: 24px;
	background-clip: padding-box;
	border: rgba(255, 255, 255, 0.25) 2px solid;
	border-top-color: #fff;
	-webkit-animation: animation-rotate 750ms linear infinite;
	-moz-animation: animation-rotate 750ms linear infinite;
	-o-animation: animation-rotate 750ms linear infinite;
	animation: animation-rotate 750ms linear infinite;
  }
	  
  .button--loading span,
  .button--loading:hover span,
  .button--loading:active span {
	color: transparent;
	text-shadow: none;
  }
	  
	  