$width: 270px;
$height: 60px;
$active: #5628EE;
$activeDot: #23C4F8;
$inactive: #99A3BA;
$hover: #6C7486;
$textColor: #99A3BA;
$background: #fff;

.tabbar {
    border-radius: 6px;
    width: $width;
    background: $background;
    padding: 0 4px;
    box-shadow: 0 4px 12px -1px rgba(#121621, .08);
    position: relative;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        position: relative;
        z-index: 1;
        li {
            position: relative;
            flex-grow: 1;
            a {
                cursor: pointer;
                display: table;
                position: relative;
                display: flex;
                z-index: 1;
                justify-content: center;
                align-items: center;
                height: $height;
                -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
                div,
                span,
                svg {
                    width: 20px;
                    height: 20px;
                    display: block;
                    -webkit-backface-visibility: hidden;
                }
                div {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -84%);
                    span {
                        width: 20px;
                        bottom: 0;
                        left: 0;
                        transform-origin: 50% 50%;
                        position: absolute;
                        overflow: hidden;
                        z-index: 1;
                        background: $background;
                        transform: scale(.94);
                        transform-origin: 0 100%;
                        animation: down .3s linear forwards;
                        svg {
                            position: absolute;
                            left: 0;
                            bottom: 0;
                        }
                        &:first-child {
                            height: 20px;
                            svg {
                                transition: fill .3s ease, stroke .3s ease;
                                fill: $inactive;
                                stroke: $inactive;
                            }
                        }
                        &:last-child {
                            height: 0;
                            z-index: 5;
                            transition: height .25s ease;
                            svg {
                                fill: $active;
                                stroke: $active;
                            }
                        }
                    }
                }
                strong {
                    font-size: 10px;
                    font-weight: 600;
                    margin-top: 28px;
                    color: $textColor;
                    transition: all .3s ease;
                }
                &:hover {
                    div {
                        span {
                            &:first-child {
                                svg {
                                    fill: $hover;
                                    stroke: $hover;
                                }
                            }
                        }
                    }
                }
            }
            &.active {
                a {
                    z-index: 5;
                    div {
                        span {
                            animation: high .35s linear forwards .05s;
                            &:last-child {
                                height: 20px;
                                transition: height .3s ease .25s;
                            }
                        }
                    }
                    strong {
                        opacity: 0;
                        transform: scale(.6);
                    }
                }
            }
        }
    }
    em {
        --offset: 0;
        border-radius: 50%;
        display: block;
        width: 6px;
        height: 6px;
        position: absolute;
        bottom: 13px;
        left: 4px;
        margin: 0 0 0 -3px;
        z-index: 4;
        transition: transform .4s ease;
        background: $activeDot;
        transform: translateX(var(--offset));
    }
}

@keyframes high {
    0% {
        transform: rotate(0deg) scale(.94);
    }
    33% {
        transform: rotate(8deg);
    }
    66% {
        transform: rotate(8deg) translateY(-1px);
    }
    100% {
        transform: rotate(0deg) scale(1) translateY(-1px);
    }
}
@keyframes down {
    0% {
        transform: rotate(0deg) scale(1) translateY(-1px);
    }
    33% {
        transform: rotate(8deg);
    }
    66% {
        transform: rotate(8deg) translateY(0);
    }
    100% {
        transform: rotate(0deg) scale(.94) translateY(0);
    }
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

// Center & dribbble
body {
    min-height: 100vh;
    font-family: Roboto, Arial;
    color: #ADAFB6;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F9FF;
    .dribbble {
        position: fixed;
        display: block;
        right: 20px;
        bottom: 20px;
        img {
            display: block;
            height: 28px;
        }
    }
}