@charset "utf-8";
/* CSS Document */

.wobble{
	animation-delay: 3s;
	animation-duration: 3s;
  	animation-iteration-count: infinite;
}

.galeria{
	padding: 2em;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.galeria > div{

	display: flex;
	transform: translateX(0vw);
	animation: marquee 10s linear infinite running;

}

.galeria > div:hover{

	animation-play-state:paused;

}



.galeria > div img{

	margin: 0 0.5em;

	padding: 0 0.em;

	transition: all 0.2s ease;

}



.galeria > div img:hover{

	transform: scale(1.2);

	cursor: pointer;

}



@keyframes marquee {
    0%   { transform: translateX(0vw) }
    100% { transform: translateX(-100vw) }
}
/* RESERVA */
.reserva{
	display: flex;
	margin: 3% auto;
	justify-content: space-between;
}
.reserva article:nth-child(1){
	width: 33%;
}
.reserva article:nth-child(2){
	width: 65%;
}

/* CADASTRO RESERVA */
.cadastro{
}
.cadastro form{
	width: 100%;
	margin: 7.5% auto;
}
.cadastro form legend{
    font-size: 2em;
    color: #333;
    font-weight: bold;
}

.cadastro form input[type=text],
.cadastro form input[type=email],
.cadastro form input[type=password]{

    background: #F09A8F;
    border: thin solid #333;
    width: 98%;
	font-size: 1.2em;
    padding: 2%;
    color: #fff;
    margin-bottom: 1%;
    border-radius: 2px;
}

.cadastro form input[type=submit]{
    cursor: pointer;
    float: right;
    background: #CC2F48;
    color: #fff;
    padding: 2%	;
    border: thin solid #333;
}

.cadastro form input[type=submit]:hover{
    background: #ccc;
    color: #CC2F48;
    border: thin solid #333;
    box-shadow: 5px 5px 5px rgba(0,0,0, 0.5);
}

/* CALENDARIO */

#calendar a {
    color: #5d3d18;
}
.fc-head{
	background: rgba(230, 173, 4, 0.8);
}
.fc-body{
	background: rgba(192, 168, 140, 0.8);
	font-size: 1.8em;
}

.fc-center{
	font-size: 2.5em;
	text-transform: uppercase;
}
.fc-right{
	font-size:1.2em;
}

.fc-button-group{
	font-size:1em;
}




