/*=======================================================

                      COLOR

========================================================*/



.color-1 {

  background-color: #968878!important;

}



.color-2 {

  background-color: #c8bbb2!important;

}



.color-3 {

  background-color: #3c3c3c;

}



.color-4 {

  background-color: #bca58a;

}



.color-5 {

  background-color: #e2ac20;

}



/*=======================================================

                      GERAL

========================================================*/

@font-face {

    font-family: 'Featured Item';

    src: url('fonts/FeaturedItem.woff2') format('woff2'),

        url('fonts/FeaturedItem.woff') format('woff');

    font-weight: normal;

    font-style: normal;

}

body {

    background-color: #f2f0f1;

  }



.color-button {

    background-color: #c8bbb2;

    border-bottom: 5px solid #9f897b;

    text-shadow: 0px -2px #c8bbb2;

}

.button-dash span {

    position: relative;

    left: -10px;

}



.action-button {

    position: relative;

    padding: 5px 20px;

    margin: 0px 10px 10px 0px;

    float: left;

    border-radius: 10px;

    color: #FFF;

    text-decoration: none;

}

.animate {

    transition: all 0.1s;

    -webkit-transition: all 0.1s;

}

.action-button:active {

	transform: translate(0px,5px);

  -webkit-transform: translate(0px,5px);

	border-bottom: 1px solid;

}

.margin-b {

    margin-bottom: 15px!important;

}

.nopadd {

    padding: 0px;

}



.col-input-l {

    padding: 0 15px 0 0;

}



@media (max-width: 414px){

.col-input-l {

    padding: 0px;

}



}



/*=======================================================

                      ALINHAMENTO

========================================================*/



.flex {

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

}



.centro-filho {

  -webkit-box-pack: center;

  -ms-flex-pack: center;

  justify-content: center;

}



.esquerda-filho {

  -webkit-box-pack: end;

  -ms-flex-pack: end;

  justify-content: end;

}



.direita-filho {

  -webkit-box-pack: end;

  -ms-flex-pack: end;

  justify-content: flex-end;

}



.meio-element * {

  -ms-flex-item-align: center;

  align-self: center;

}



.baixo-element * {

  -ms-flex-item-align: end;

  align-self: flex-end;

}



/*=======================================================

                      NAV-DASH

========================================================*/



.nav-dash {

  height: 55px;

  background-color: #464646;

}



.nav-dash span {

  font-size: 18px;

  top: -13px!important;

}



.user-img {

  border-radius: 100%;

  background-color: red;

  height: 95px;

  width: 95px;

  position: relative;

  top: 5px;

  border: 3px solid white;

  overflow: hidden;

  padding: 0px;

  z-index: 999;

  float: left;

}



.nav-dash li {

  margin-right: 20px;

}



.nav-dash span span {

  background-color: #ff0000;

  width: 15px;

  height: 15px;

  border-radius: 100%;

  color: #fff;

  font-size: 11px;

  display: inline-block;

  text-align: center;

  line-height: 13px;

  position: relative;

  top: -14px;

  left: -25px;

}



.nav-dash .user-img img {

  width: 100%;

}

.namesalao {

  height: 55px;

}

.namesalao h2 {

  color: #fff;

  margin-left: 15px;

}



@media all and (max-width: 414px) {

  .user-img {

    height: 50px;

    width: 50px;

    position: relative;

    top: 5px;

    left: 5px;

  }

  .overlay {

    display: none!important;

  }

  .nav-dash {

    height: 60px;

  }

  .namesalao {

    height: 60px;

  }

  .namesalao h2 {

    margin-left: 25px;

  }

}



/*=======================================================

                      MENU-DASH

========================================================*/



.menu-dash {

  background: linear-gradient(to bottom, rgba(159, 137, 123, 1) 97%, rgb(242, 240, 241) 97%, rgb(242, 240, 241) 91%);

  padding: 20px 0 0;

}



.seta {

  border-image: url(../img/seta2.svg)14 round;

  border-bottom: 13px solid transparent;

  border-image-repeat: inherit

}



.menu-dash li {

  padding: 0px!important;

}



.menu-dash .team_member {

  height: 403px;

  transition: 1.5s;

  opacity: 0.5;

}



.menu-dash .team_member:hover {

  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(29, 8, 7, 1) 29%, rgba(101, 26, 23, 0.98) 100%);

  transition: 1.5s;

  opacity: 1;

}



.menu-dash .team_members span {

  font-size: 60px;

  color: #fff;

}



.menu-dash h5 {

  display: none;

}



@media all and (max-width: 414px) {



  .menu-dash .team_members span {

    font-size: 24px;

    color: #fff;

    text-align: center;

  }

  .team_member {

    height: 90px!important;

  }

  .menu-dash {

    padding: 65px 0 0;

  }

  .menu-dash .container {

    padding: 0px;

  }

  .menu-dash h5 {

    color: #fff;

    margin-top: 3px;

    display: flex;

  }



}



/*=======================================================

                      AGENDA-DASH

========================================================*/



.agenda-dash .container>div:nth-child(1)>div:nth-child(1) {

  height: 145px;

}

.agenda-dash .container>div:nth-child(1)>div:nth-child(1) img {

    width: 100%;

}

.agenda-dash button {

    margin-top: 15px;

}

.agenda-dash button:focus {

    box-shadow: 0 0 0 0;

    border: 0 none;

    outline: 0;

}

.select-inter select {

  width: 45%!important;

  float: left;

}



.select-inter p {

  width: 10%;

  float: left;

  text-align: center;

  font-weight: 600;

  margin:0px;

}



#table-dasb select {

  width: 100%;

  text-align-last: center;

}



.table-dasb tread th {

  border: 1px solid red;

  background-color: red;

}



#table-dasb thead tr {

  background-color: #C8BBB2;

}

#table-dasb tbody tr {

    background-color: rgba(200, 187, 178, 0.1);

}

#table-dasb thead th {

  padding: 5px;

  text-align: center;

}



#table-dasb {

  width: 100%;

  border-collapse: separate;

  border-spacing: 0 5px;

}



#table-dasb thead {

  border-radius: 5px!important;

}



#table-dasb tbody {

  padding: 10px!important;

}



#table-dasb tbody tr td {

  border: 1px solid #c8bbb2;

  padding: 5px;

  vertical-align: middle;

  border-left: none;

  border-right: none;

}



#table-dasb tbody tr td a {

  text-align: center;

  display: block;

}



#table-dasb tbody tr td:first-child {

    border-left: 1px solid #c8bbb2;

}



#table-dasb tbody tr td:last-child {

    border-right: 1px solid #c8bbb2;

}

/*=======================================================

                      PERFIL-DASH

========================================================*/

.peril-text {

    width: 100%;

    height: 100%;

}



.perfil-text p {

    text-align: justify;

}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {

    border: 2px solid #9f897b!important;

}

.perfil-dash .nav-tabs{

    border-bottom: 1px solid #9f897b!important;

}



.perfil-dash .nav-tabs li a {

    color: #9f897b;

}



/*=======================================================

                      SERVICO-DASH

========================================================*/

.input-4 {

    width: 33.33333%;

    float: left;

    padding: 0 10px 0 0;

}



.input-last {

    padding-right: 0px!important;

}



.toggleWrapper input {

  position: absolute;

  left: -99em;

}



.toggle {

  cursor: pointer;

  display: inline-block;

  position: relative;

  width: 120px;

  height: 37px;

  background: #9f897b;

  border-radius: 5px;

  -webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);

  transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);

}

.toggle:before, .toggle:after {

  position: absolute;

  line-height: 37px;

  font-size: 14px;

  z-index: 2;

  -webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);

  transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);

}

.toggle:before {

  content: "NÃO";

  left: 20px;

  color: #D21626;

}

.toggle:after {

  content: "SIM";

  right: 15px;

  color: #fff;

}



.toggle__handler {

  display: inline-block;

  position: relative;

  z-index: 1;

  background: #fff;

  width: 65px;

  height: 31px;

  border-radius: 3px;

  top: 3px;

  left: 3px;

  -webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);

  transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);

  -webkit-transform: translateX(0px);

  transform: translateX(0px);

}



input:checked + .toggle {

  background: #66B317;

}

input:checked + .toggle:before {

  color: #fff;

}

input:checked + .toggle:after {

  color: #66B317;

}

input:checked + .toggle .toggle__handler {

  width: 54px;

  -webkit-transform: translateX(60px);

          transform: translateX(60px);

  border-color: #fff;

}

/*=======================================================

                      TABELA-DASH

========================================================*/

.datatable thead th {

    text-align: left!important;

}



/*=======================================================

                      LOGIN

========================================================*/

.login-trigger {

  font-weight: bold;

  color: #fff!important;

  background: linear-gradient(to bottom right,#c0a88c,#222227);

  padding: 0px 7px!important;

  border-radius: 7px;

  line-height: 40px!important;

  top: 24px;

  transition: 1.5s;

}



.close {

  color: #fff;

  transform: scale(1.2)

}

.modal-content {

  font-weight: bold;

  background: linear-gradient(to bottom right,#c0a88c,#222227);

}

.form-control:hover, .form-control:focus {

  box-shadow: none;

  border-color: #fff;

}

.username, .password {

  border: none;

  border-radius: 0;

  box-shadow: none;

  border-bottom: 2px solid #fab87f;

  padding-left: 0;

  font-weight: normal;

  background: white;

}

.form-control::-webkit-input-placeholder {

  color: #eee;

}

.form-control:focus::-webkit-input-placeholder {

  font-weight: bold;

  color: #fff;

}

.login {

  padding: 6px 20px;

  border-radius: 20px;

  /* background: none; */

  border: 2px solid #FAB87F;

  color: #FAB87F;

  font-weight: bold;

  transition: all .5s;

  margin-top: 1em;

}

.login:hover {

  background: #c0a88c;

  color: #fff;

}

.login span {

    position: relative;

    left: -8px;

    top: 1px;

}



#login form a:nth-child(4) {

    background-color: #4267b2;

    color: #fff;

    float: right;

    border: none;

    margin-left: 15px;

}



#login form a:nth-child(5) {

    background-color: #db4437;

    color: #fff;

    float: right;

    border: none;

}



.login-trigger:hover {

    background-color: #c1a98d!important;

    transition: 1.5s;

}













navbar-right.namesalao {

    width: 200px!important;

}



div#navbarr {

    float: right;

    height: 60px;

}



div#navbarr ul li {

    float: left;

    margin-top: 20px;

}



div#navbarr ul li a > span {

    top: 1px!important;

}









/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
    width: 100%;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('https://rawgit.com/leggomuhgreggo/slick/master/slick/fonts/slick.eot');
    src: url('https://rawgit.com/leggomuhgreggo/slick/master/slick/fonts/slick.eot?#iefix') format('embedded-opentype'), url('https://rawgit.com/leggomuhgreggo/slick/master/slick/fonts/slick.woff') format('woff'), url('https://rawgit.com/leggomuhgreggo/slick/master/slick/fonts/slick.ttf') format('truetype'), url('https://rawgit.com/leggomuhgreggo/slick/master/slick/fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 115%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: 45%;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: 'â†';
}
[dir='rtl'] .slick-prev:before
{
    content: 'â†’';
}

.slick-next
{
    right: 45%;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: 'â†’';
}
[dir='rtl'] .slick-next:before
{
    content: 'â†';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: 'â€¢';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
.slider div {
    /* height: 267px; */
}


.slick-slide {

  color: white;
  padding: 40px 0;
  font-size: 30px;
  font-family: "Arial", "Helvetica";
  text-align: center;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

